@import url(index.css);

body {
  display: grid;
  grid-template-areas:
 "app-header app-header app-header"
 "app-main app-main app-main"
 "app-footer app-footer app-footer";
}

body > * > * {
  max-width: 1597px;
}

body > .x-app-header {
  grid-area: app-header;
  border-bottom: var(--x-1px) solid;
}

body > div {
  grid-area: app-main;
  display: inline-grid;
  grid-template-columns: auto 1fr;
}

body > div > nav {
  max-width: var(--x-144px);
}

body > .x-app-footer {
  grid-area: app-footer;
}

body > main iframe {
  border: none;
}
