@import url(index.css);

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
 "app-header app-header app-header"
 "app-main app-main app-main"
 "app-footer app-footer app-footer";
}

body > * > * {
  max-width: 1597px;
}

body > .x-app-header {
  grid-area: app-header;
  border-bottom: var(--x-1px) solid;
}

body > div {
  grid-area: app-main;
  display: inline-grid;
  grid-template-columns: auto 1fr;
}

body > div > nav {
  /*max-width: var(--x-144px);*/
}

body > .x-app-footer {
  grid-area: app-footer;
}

body > main iframe {
  border: none;
}

/* fallback */
@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: 100 700;
  src: url(https://fonts.gstatic.com/s/materialsymbolsrounded/v104/sykg-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190Fjzag.woff2) format('woff2');
}

.mds-icon,
.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: var(--x-16px);
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-symbols-rounded,
.mds-icon {
  padding: 0;
  font-variation-settings: 'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
