:where(.x-appbar, x-appbar) {
  position: relative;
  padding: var(--x-16px);
}

:where(.x-appbar, x-appbar).x-filled {
  background: var(--x-color-5);
  color: var(--x-color-8);
}

:where(.x-appbar, x-appbar).x-outlined {
  border: var(--x-border-width) solid var(--x-color-4);
  color: var(--x-color-5);
}

:where(.x-appbar, x-appbar).x-raised {
  border: var(--x-border-width) solid var(--x-color-4);
  color: var(--x-color-5);
  box-shadow: 0 var(--x-2px) var(--x-3px) var(--x-neutral-color-with-alpha-6),
  0 var(--x-3px) var(--x-5px) var(--x-neutral-color-with-alpha-6);
}

:where(.x-appbar, x-appbar).x-dense {
  padding: var(--x-8px);
}

:where(.x-appbar, x-appbar).x-small {
  padding: var(--x-3px);
}

x-appbar {
  --x-ani-speed: 0.21s;

  position: sticky;
  display: block;
  transition: transform var(--x-ani-speed) ease-in-out, opacity var(--x-ani-speed);
}

x-appbar:not(.x--bottom),
x-appbar.x--top {
  top: 0;
}

x-appbar.x--bottom {
  bottom: 0;
}

x-appbar.x--hidden {
  pointer-events: none;
  opacity: 0;
}

x-appbar.x--hidden:not(.x--bottom, .x--visible) {
  transform: translateY(-100%);
}

x-appbar.x--hidden.x--bottom {
  transform: translateY(100%);
}

x-appbar:focus-within,
x-appbar.x--visible {
  transform: translateY(0%);
  pointer-events: all;
  opacity: 1;
}
