/**
 * Setup `ez-ripple` element for animations.
 */
.ez-btn, .ez-button,
:where(.ez-btn, .ez-button) > *:not(ez-ripple) {
  position: relative;
}

:where(.ez-btn, .ez-button) > *:not(ez-ripple) {
  z-index: 3;
}

:where(.ez-btn, .ez-button) > ez-ripple {
  z-index: 1;
}

:where(.ez-btn, .ez-button):not(.ez-outlined) {
  border: none;
}

/**
 * Padding adjustments (top, and bottom) for 'outlined' button variant.
 */

 /** For small size **/
:where(.ez-btn, .ez-button).ez-outlined.ez-small {
  padding: calc(var(--ez-3px) - var(--ez-border-width));
}

/** For large size **/
:where(.ez-btn, .ez-button).ez-outlined.ez-large {
  padding: calc(var(--ez-8px) - var(--ez-border-width)) calc(var(--ez-12px) - var(--ez-border-width));
}

/**
 * Not "Filled" variant base
 * ------------------- */
:where(.ez-btn, .ez-button):not(.ez-filled) {
  background: transparent;
  color: var(--ez-color-5);
}

:where(.ez-btn, .ez-button):not(.ez-filled):hover {
  color: var(--ez-color-4);
}

:where(.ez-btn, .ez-button):not(.ez-filled):has(> [rippleactive]),
:where(.ez-btn, .ez-button):not(.ez-filled):active {
  color: var(--ez-color-3);
}

/** Ripple styles **/
:where(.ez-btn, .ez-button):not(.ez-filled) ez-ripple::after,
:where(.ez-btn, .ez-button):not(.ez-filled) ez-ripple::before {
  background: var(--ez-color-7);
}

@media (prefers-color-scheme: dark) {
  :where(.ez-btn, .ez-button):not(.ez-filled) {
    color: var(--ez-color-6);
  }

  :where(.ez-btn, .ez-button):not(.ez-filled):hover {
    color: var(--ez-color-7);
  }

  :where(.ez-btn, .ez-button):not(.ez-filled):has(> [rippleactive]),
  :where(.ez-btn, .ez-button):not(.ez-filled):active {
    color: var(--ez-color-8);
  }

  :where(.ez-btn, .ez-button):not(.ez-filled) ez-ripple::after,
  :where(.ez-btn, .ez-button):not(.ez-filled) ez-ripple::before {
    --ez-ripple-hover-opacity: 0.55;
    --ez-ripple-active-opacity: 0.13;
  }
}

/**
 * Disabled
 */
:where(.ez-btn, .ez-button):disabled {
  pointer-events: none;
  opacity: 0.55;
}

/*
 * Variants
 * -------------------- */

/* Note: See following link for more about system-colors:
 https://developer.mozilla.org/en-US/docs/Web/CSS/system-color
 */


/*
 * Filled
 * -------------------- */

/** Ripple styles **/
:where(.ez-btn, .ez-button).ez-filled ez-ripple::after,
:where(.ez-btn, .ez-button).ez-filled ez-ripple::before {
  --ez-ripple-hover-opacity: 0.55;
  --ez-ripple-active-opacity: 0.21;

  background: var(--ez-color-12);
}

:where(.ez-btn, .ez-button).ez-filled {
  background-color: var(--ez-color-5);
  border-color: var(--ez-color-5);
  color: var(--ez-color-12);
}

:where(.ez-btn, .ez-button).ez-filled:focus-visible {
  --ez-focus-ring-color: var(--ez-color-3);

  border-color: var(--ez-color-3);
}

/*
 * Outlined
 * -------------------- */
:where(.ez-btn, .ez-button).ez-outlined {
  border-color: var(--ez-color-4);
}
