/**
 * Setup `x-ripple` element for animations.
 */
.x-btn, .x-button,
:where(.x-btn, .x-button) > *:not(x-ripple) {
  position: relative;
}

:where(.x-btn, .x-button) > *:not(x-ripple) {
  z-index: 3;
}

:where(.x-btn, .x-button) > x-ripple {
  z-index: 1;
}

:where(.x-btn, .x-button):not(.x-outlined) {
  border: none;
}

/**
 * Padding adjustments (top, and bottom) for 'outlined' button variant.
 */

 /** For small size **/
:where(.x-btn, .x-button).x-outlined.x-small {
  padding: calc(var(--x-3px) - var(--x-border-width));
}

/** For medium size **/
:where(.x-btn, .x-button).x-outlined:is(
  :not(.x-small, .x-dense, .x-large), .x-normal
),
:where(.x-btn, .x-button).x-outlined.x-dense {
  padding: calc(var(--x-8px) - var(--x-border-width));
}

/** For large size **/
:where(.x-btn, .x-button).x-outlined.x-large {
  padding: calc(var(--x-8px) - var(--x-border-width)) calc(var(--x-12px) - var(--x-border-width));
}

/**
 * Not "Filled" variant base
 * ------------------- */
:where(.x-btn, .x-button):not(.x-filled) {
  background: transparent;
  color: var(--x-color-5);
}

:where(.x-btn, .x-button):not(.x-filled):hover {
  color: var(--x-color-4);
}

:where(.x-btn, .x-button):not(.x-filled):has(> [rippleactive]),
:where(.x-btn, .x-button):not(.x-filled):active {
  color: var(--x-color-3);
}

/** Ripple styles **/
:where(.x-btn, .x-button):not(.x-filled) x-ripple::after,
:where(.x-btn, .x-button):not(.x-filled) x-ripple::before {
  background: var(--x-color-7);
}

@media (prefers-color-scheme: dark) {
  :where(.x-btn, .x-button):not(.x-filled) {
    color: var(--x-color-6);
  }

  :where(.x-btn, .x-button):not(.x-filled):hover {
    color: var(--x-color-7);
  }

  :where(.x-btn, .x-button):not(.x-filled):has(> [rippleactive]),
  :where(.x-btn, .x-button):not(.x-filled):active {
    color: var(--x-color-8);
  }

  :where(.x-btn, .x-button):not(.x-filled) x-ripple::after,
  :where(.x-btn, .x-button):not(.x-filled) x-ripple::before {
    --x-ripple-hover-opacity: 0.55;
    --x-ripple-active-opacity: 0.13;
  }
}

/**
 * Disabled
 */
:where(.x-btn, .x-button):disabled {
  pointer-events: none;
  opacity: 0.55;
}

/*
 * Variants
 * -------------------- */

/* Note: See following link for more about system-colors:
 https://developer.mozilla.org/en-US/docs/Web/CSS/system-color
 */


/*
 * Filled
 * -------------------- */

/** Ripple styles **/
:where(.x-btn, .x-button).x-filled x-ripple::after,
:where(.x-btn, .x-button).x-filled x-ripple::before {
  --x-ripple-hover-opacity: 0.55;
  --x-ripple-active-opacity: 0.21;

  background: var(--x-color-12);
}

:where(.x-btn, .x-button).x-filled {
  background-color: var(--x-color-5);
  border-color: var(--x-color-5);
  color: var(--x-color-12);
}

:where(.x-btn, .x-button).x-filled:focus-visible {
  --x-focus-ring-color: var(--x-color-3);

  border-color: var(--x-color-3);
}

/*
 * Outlined
 * -------------------- */
:where(.x-btn, .x-button).x-outlined {
  border-color: var(--x-color-4);
}
