.ez-checkbox,
.ez-radio {
  --ez-input-highlight-color: var(--ez-color-5, var(--ez-neutral-color-5));
}

:where(.ez-checkbox,
.ez-radio):where(:active, :checked) {
  border-color: var(--ez-input-highlight-color);
}
