.example-scroll-pane {
  position: relative;
  max-height: 33vh;
  overflow: auto;
  border-radius: var(--ez-border-radius);
  border: var(--ez-border-width) solid;
}

.example-scroll-pane > .text {
  padding: 1rem;
}

.example-appbar-auxillary-classname {
  background: green;
}
