/**
 * Not "Filled" variant base
 * ------------------- */
:where(.x-button, .x-btn):not(.x-filled) {
  background: transparent;
}

/** Ripple styles **/
:where(.x-button, .x-btn):not(.x-filled)::after,
:where(.x-button, .x-btn):not(.x-filled)::before {
  background: var(--x-theme-5);
}

/**
 * "Filled" variant base
 * ------------------- */
/** Ripple styles **/
:where(.x-button, .x-btn).x-filled::after,
:where(.x-button, .x-btn).x-filled::before {
  --x-ripple-hover-opacity: 0.55;
  --x-ripple-active-opacity: 0.34;

  background: var(--x-field);
}

/*
 * Variants
 * -------------------- */
:where(.x-button, .x-btn):not(.x-outlined) {
  border-color: transparent;
}

:where(.x-button, .x-btn):disabled {
  pointer-events: none;
  opacity: 0.34;
}

/* Note: See following link for more about system-colors:
 https://developer.mozilla.org/en-US/docs/Web/CSS/system-color
 */

:where(.x-button, .x-btn):not(.x-filled) {
  /*background-color: var(--x-field);*/
  /*border-color: var(--x-field);*/
  color: var(--x-theme-4);
}

:where(.x-button, .x-btn).x-filled {
  background-color: var(--x-theme-4);
  border-color: var(--x-theme-4);
  color: var(--x-field);
}

:where(.x-button, .x-btn).x-outlined {
  border-color: var(--x-theme-4);
}

:where(.x-button, .x-btn):where(.x-outlined, .x-raised, :not(.x-filled)):not(.x-filled):hover {
  /*background-color: var(--x-theme-hsla-7);*/
  color: var(--x-theme-4);
}

:where(.x-button, .x-btn).x-filled:hover {
  /*background-color: var(--x-theme-hsla-5);*/
}

:where(.x-button, .x-btn).x-filled:active {
  /*background-color: var(--x-theme-hsla-3);*/
}

:where(.x-button, .x-btn):not(.x-filled):active {
  /*background-color: var(--x-theme-hsla-6);*/
}

:where(.x-button, .x-btn).x-raised:active,
:where(.x-button, .x-btn).x-raised {
  box-shadow: 0 0 var(--x-1px) rgba(0, 0, 0, 0.21),
  0 var(--x-2px) var(--x-3px) rgba(0, 0, 0, 0.21);
}

:where(.x-button, .x-btn).x-raised:hover {
  box-shadow: 0 var(--x-2px) var(--x-3px) rgba(0, 0, 0, 0.21),
  0 var(--x-3px) var(--x-5px) rgba(0, 0, 0, 0.21);
}
