.x-checkbox {
  --x-input-speed: 0.13s;
  --x-input-highlight-color: var(--x-theme-4, var(--x-neutral-hsl-4));

  transition: background var(--x-input-speed);
  border-color: var(--x-input-highlight-color);
}

.x-checkbox::after {
  animation: var(--x-input-speed) box-wipe-obscure;
  animation-fill-mode: forwards;
  visibility: visible;
}

.x-checkbox::after,
.x-checkbox:checked::after {
  background: transparent url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" stroke="white" stroke-width="3" d="M1.73,12.91 8.1,19.28 22.79,4.59"></path></svg>');
  width: var(--x-12px);
  height: var(--x-12px);
}

.x-checkbox:checked {
  background: var(--x-input-highlight-color);
}

.x-checkbox:checked::after {
  animation: var(--x-input-speed) box-wipe-reveal;
}

@keyframes box-wipe-reveal {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  100% {
    clip-path: inset(0);
  }
}

@keyframes box-wipe-obscure {
  0% {
    clip-path: inset(0);
  }
  100% {
    clip-path: inset(0 100% 0 0);
  }
}
