/**
 * Base
 * ---------------- */
.x-button, x-button, button {
  border-radius: var(--x-border-radius);
  border: var(--x-1px) solid ButtonBorder;
  display: inline-flex;
  text-align: center;
  font-weight: bold;
  transition: all 0.08s;
}

:is(.x-button, button):not(:disabled):hover {
  cursor: pointer;
}

/*
 * Sizes
 * ------------------- */
:is(.x-button, x-button, button).x-small {
  font-size: var(--x-12px);
  line-height: var(--x-12px);
  padding: var(--x-3px);
}

:is(.x-button, x-button, button).x-dense {
  padding: var(--x-8px);
  font-size: var(--x-16px);
  line-height: var(--x-18px);
}

:is(.x-button, x-button, button):is(:not(.x-small):not(.x-dense):not(.x--large), .x-normal) {
  padding: var(--x-8px);
  font-size: var(--x-16px);
  line-height: var(--x-24px);
}

:is(.x-button, x-button, button).x--large {
  padding: var(--x-12px);
  font-size: var(--x-21px);
  line-height: var(--x-34px);
}

/*
 * Contents
 * -------------------- */
:is(.x-button, x-button, button) > * + * {
  margin-left: var(--x-5px);
}

/**
 * .x-button-group
 * ---------------- */
.x-button-group:not(.x-button-group--vertical) button + button,
.x-button-group.x-button-group--horizontal button + button {
  margin-left: 0.5rem;
}
