/**
 * Base
 * ---------------- */
.x-button, .x-btn, button {
  position: relative;
  border-radius: var(--x-border-radius);
  border: var(--x-1px) solid ButtonBorder;
  display: inline-flex;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  transition: all 0.13s;
}

:where(.x-button, .x-btn, button):not(:disabled):hover {
  cursor: pointer;
}

/*
 * Sizes
 * ------------------- */
:where(.x-button, .x-btn, button).x-small {
  font-size: var(--x-12px);
  line-height: var(--x-12px);
  padding: var(--x-3px);
}

:where(.x-button, .x-btn, button).x-dense {
  padding: var(--x-8px);
  font-size: var(--x-16px);
  line-height: var(--x-18px);
}

:where(.x-button, .x-btn, button):is(:not(.x-small):not(.x-dense):not(.x--large), .x-normal) {
  padding: var(--x-8px);
  font-size: var(--x-16px);
  line-height: var(--x-24px);
}

:where(.x-button, .x-btn, button).x--large {
  padding: var(--x-12px);
  font-size: var(--x-21px);
  line-height: var(--x-34px);
}

/*
 * Contents
 * -------------------- */
:where(.x-button, .x-btn, button) > * + * {
  margin-left: var(--x-5px);
}

/**
 * .x-button-group
 * ---------------- */
.x-button-group:where(
  :not(.x-button-group--vertical),
  .x-button-group--horizontal
) :where(
  > button + button,
  > .x-btn + .x-btn,
  > .x-button + .x-button
) {
  margin-left: var(--x-8px);
}
