@import url(button.css);
@import url(field.css);
@import url(fieldset.css);
@import url(checkbox.css);
@import url(radio.css);
@import url(input-select-and-textarea.css);

input,
textarea,
select,
button {
  font-size: 1rem;
}

:disabled {
  pointer-events: none;
  opacity: 0.34;
}
