/*
 * Layout direction
 * ---------------------- */
html:not([dir="rtl"]) .x-input {
  flex-flow: row nowrap;
}

html[dir="rtl"] .x-input {
  flex-flow: column nowrap;
}

/*
 * Base
 * ------------------------ */
html:not([dir="rtl"]) :where(x-input, .x-input):is([type], input, select, textarea),
html:not([dir="rtl"]) :where(x-input, .x-input) > * {
  padding: var(--x-input-padding-top) var(--x-input-padding-left);
  background: var(--x-input-bg-color);
  color: var(--x-input-text-color);
}

html[dir="rtl"] :where(x-input, .x-input):is([type], input, select, textarea),
html[dir="rtl"] :where(x-input, .x-input) > * {
  padding: var(--x-input-padding-left) var(--x-input-padding-top);
}

:where(x-input, .x-input) {
  --x-input-padding-top: var(--x-1px);
  --x-input-padding-left: var(--x-2px);

  display: flex;
  width: fit-content;
  background: var(--x-input-bg-color);
}

:where(x-input, .x-input) > :is(input, textarea, select) {
  vertical-align: middle;
}

/*
 * Input
 * ---------------------- */
:where(x-input, .x-input),
:where(x-input, .x-input) > :is(input, textarea, select) {
  border-radius: var(--x-border-radius);
}

:where(x-input, .x-input):is(input, textarea, select),
:where(x-input, .x-input) > :is(input, textarea, select) {
  border: none;
  margin: 0;
}

/*
 * Focus Visible
 *--------------------- */
:where(x-input, .x-input) > :is(input, select, textarea):focus-visible {
  outline: none;
}

/*
 * Outlined/Default
 * ----------------------- */
:where(x-input, .x-input):not(.x-underlined),
:where(x-input, .x-input).x-outlined {
  border: var(--x-1px) solid;
}

:where(x-input, .x-input).x-underlined {
  border-bottom: var(--x-1px) solid;
}
