.x-button, button {
  border-radius: var(--x-border-radius);
  border: var(--x-1px) solid;
}

:is(.x-button, button):not(:disabled):hover {
  cursor: pointer;
}

.x-button-group:not(.x-button-group--vertical) button + button,
.x-button-group.x-button-group--horizontal button + button {
  margin-left: 0.5rem;
}
