//
@mixin gen-default-css-props($colorsMap, $names, $indicesMap) {
  @each $n in $names {
    $quotedN: quote($n);

    // RGB colors
    $j: 1;
    @each $tuple in $indicesMap {
      $i: quote(nth($tuple, 1));
      --ecms-color-#{$n}-#{$j}: #{map-get($colorsMap, $quotedN + "-" + $i)};
      $j: $j + 1;
    }

    // RGBA colors
    $j: 1;
    @each $tuple in $indicesMap {
      $i: quote(nth($tuple, 1));
      --ecms-color-#{$n}-rgba-#{$j}: #{map-get($colorsMap, $quotedN + "-rgba-" + $i)};
      $j: $j + 1;
    }

    //--ecms-color-#{$n}-6: #fff;
    //--ecms-color-rgba-#{$n}-6: #{map-get($colorsMap, "surface-1_00")};
  }
}
