h1, h2, h3, h4, h5, h6, figure {
  margin: 0;
}

h1,
.ez-h1 {
  font-size: var(--ez-72px);
  font-weight: bold;
  line-height: var(--ez-72px);
}

h2,
.ez-h2 {
  font-size: var(--ez-48px);
  font-weight: bold;
  line-height: var(--ez-48px);
}

h3,
.ez-h3 {
  font-size: var(--ez-36px);
  font-weight: bold;
  line-height: var(--ez-36px);
}

h4,
.ez-h4 {
  font-size: var(--ez-24px);
  font-weight: bold;
  line-height: var(--ez-24px);
}

h5,
.ez-h5 {
  font-size: var(--ez-18px);
  font-weight: bold;
  line-height: var(--ez-18px);
}

h6,
.ez-h6 {
  font-size: var(--ez-16px);
  font-weight: bold;
  line-height: var(--ez-16px);
}

a, p {
  font-size: var(--ez-16px);
  line-height: var(--ez-24px);
}

dl dd + *,
dl dt + *,
dl + dl {
  margin-top: var(--ez-21px);
}

dt, label {
  font-weight: bold;
}
