html, body {
  --ez-font-family: arial, verdana, helvetica, sans-serif;
  --ez-focus-ring-color: currentcolor;

  margin: 0;
  padding: 0;
  font: normal 1rem var(--ez-font-family);
}

@media (prefers-color-scheme: dark) {
  html, body {
    --ez-focus-ring-color: Field;

    background: var(--ez-neutral-color-1);
    color: var(--ez-neutral-color-5);
  }
}
