.back-to-top-btn-container {
  display: inline-flex;
  justify-content: flex-end;
  flex-flow: row nowrap;
  position: fixed;
  right: 0;
  bottom: 0;
}

x-toggleonscroll.with-hidden-back-to-top-btn {
  .back-to-top-btn-container {
    display: none;
  }
}
