/**
 * Base
 * ---------------- */
.x-btn, .x-button,
button,
input:where([type="submit"], [type="reset"], [type="image"], [type="button"]),
input[type="file"]::file-selector-button {
  position: relative;
  border-radius: var(--x-border-radius);
  border: var(--x-border-width) solid ButtonBorder;
  display: inline-flex;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  transition: border-color 0.13s, color 0.13s, background-color 0.13s,
  transform 0.13s ease-in-out, opacity 0.13s,
  box-shadow 0.13s ease-in-out;
  user-select: none;
}

:where(
  .x-btn, .x-button, button, input:where([type="submit"], [type="reset"], [type="image"], [type="button"]),
  input[type="file"]::file-selector-button
):not(:disabled):hover {
  cursor: pointer;
}

/*
 * Sizes
 * ------------------- */

/* Small */
:where(
  .x-btn,
  .x-button,
   button,
  input:where([type="submit"], [type="reset"], [type="image"], [type="button"]),
  input[type="file"]::file-selector-button
).x-small {
  font-size: var(--x-12px);
  line-height: var(--x-12px);
  padding: var(--x-3px);
}

/* Dense */
:where(.x-btn, .x-button, button,
  input:where([type="submit"], [type="reset"], [type="image"], [type="button"]),
  input[type="file"]::file-selector-button
).x-dense {
  padding: var(--x-6px) var(--x-8px);
  font-size: var(--x-16px);
  line-height: var(--x-18px);
}

/* Large */
:where(.x-btn, .x-button, button,
  input:where([type="submit"], [type="reset"], [type="image"], [type="button"]),
  input[type="file"]::file-selector-button
).x-large {
  padding: var(--x-8px) var(--x-12px);
  font-size: var(--x-24px);
  line-height: var(--x-32px);
}

/* Normal */
:where(.x-btn, .x-button, button,
  input:where([type="submit"], [type="reset"], [type="image"], [type="button"]),
  input[type="file"]::file-selector-button
):is(
  :not(.x-small, .x-dense, .x-large), .x-normal
) {
  padding: var(--x-4px) var(--x-8px);
  font-size: var(--x-16px);
  line-height: var(--x-24px);
}

/**
 * Raised
 */
:where(.x-btn, .x-button, button,
  input:where([type="submit"], [type="reset"], [type="image"], [type="button"]),
  input[type="file"]::file-selector-button
).x-raised:hover {
  box-shadow: 0 var(--x-2px) var(--x-3px) var(--x-neutral-color-with-alpha-6),
  0 var(--x-3px) var(--x-5px) var(--x-neutral-color-with-alpha-6);
}

:where(.x-btn, .x-button, button,
  input:where([type="submit"], [type="reset"], [type="image"], [type="button"]),
  input[type="file"]::file-selector-button
).x-raised:active,
:where(.x-btn, .x-button, button,
  input:where([type="submit"], [type="reset"], [type="image"], [type="button"]),
  input[type="file"]::file-selector-button
).x-raised {
  box-shadow: 0 0 var(--x-1px) var(--x-neutral-color-with-alpha-6),
  0 var(--x-2px) var(--x-3px) var(--x-neutral-color-with-alpha-6);
}

/*
 * Contents
 * -------------------- */
:where(.x-btn, .x-button, button,
  input:where([type="submit"], [type="reset"], [type="image"], [type="button"]),
  input[type="file"]::file-selector-button
) > *:not(:is(x-ripple)) + * {
  margin-left: var(--x-5px);
}

/**
 * .x-btn-group
 * ---------------- */
.x-btn-group {
  display: flex;
  gap: var(--x-8px);
  flex-flow: row wrap;
  align-items: center;
}
