/**
 * Base
 * ---------------- */
.ez-btn,
.ez-button,
button,
input:where([type="submit"], [type="reset"], [type="image"], [type="button"]),
input[type="file"]::file-selector-button {
  position: relative;
  border-radius: var(--ez-border-radius);
  border: var(--ez-border-width) solid ButtonBorder;
  display: inline-flex;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  transition: border-color 0.13s, color 0.13s, background-color 0.13s,
  transform 0.13s ease-in-out, opacity 0.13s,
  box-shadow 0.13s ease-in-out;
  user-select: none;
}

:where(
  .ez-btn,
  .ez-button,
  button,
  input:where([type="submit"], [type="reset"], [type="image"], [type="button"]),
  input[type="file"]::file-selector-button
):not(:disabled):hover {
  cursor: pointer;
}

/*
 * Sizes
 * ------------------- */

/* Small */
:where(
  .ez-btn,
  .ez-button,
   button,
  input:where([type="submit"], [type="reset"], [type="image"], [type="button"]),
  input[type="file"]::file-selector-button
).ez-small {
  font-size: var(--ez-12px);
  line-height: var(--ez-12px);
  padding: var(--ez-3px);
}

/* Large */
:where(.ez-btn, .ez-button, button,
  input:where([type="submit"], [type="reset"], [type="image"], [type="button"]),
  input[type="file"]::file-selector-button
).ez-large {
  padding: var(--ez-8px) var(--ez-12px);
  font-size: var(--ez-24px);
  line-height: var(--ez-32px);
}

/* Normal - height: 34px + borders === 36px */
:where(.ez-btn, .ez-button, button,
  input:where([type="submit"], [type="reset"], [type="image"], [type="button"]),
  input[type="file"]::file-selector-button
):is(
  :not(.ez-small, .ez-large), .ez-normal
) {
  padding: var(--ez-5px) var(--ez-9px);
  font-size: var(--ez-16px);
  line-height: var(--ez-24px);
}

/**
 * Raised
 */
:where(.ez-btn, .ez-button, button,
  input:where([type="submit"], [type="reset"], [type="image"], [type="button"]),
  input[type="file"]::file-selector-button
).ez-raised:hover {
  box-shadow: 0 var(--ez-2px) var(--ez-3px) var(--ez-neutral-color-with-alpha-6),
  0 var(--ez-3px) var(--ez-5px) var(--ez-neutral-color-with-alpha-6);
}

:where(.ez-btn, .ez-button, button,
  input:where([type="submit"], [type="reset"], [type="image"], [type="button"]),
  input[type="file"]::file-selector-button
).ez-raised:active,
:where(.ez-btn, .ez-button, button,
  input:where([type="submit"], [type="reset"], [type="image"], [type="button"]),
  input[type="file"]::file-selector-button
).ez-raised {
  box-shadow: 0 0 var(--ez-1px) var(--ez-neutral-color-with-alpha-6),
  0 var(--ez-2px) var(--ez-3px) var(--ez-neutral-color-with-alpha-6);
}

/*
 * Contents
 * -------------------- */
:where(.ez-btn, .ez-button, button,
  input:where([type="submit"], [type="reset"], [type="image"], [type="button"]),
  input[type="file"]::file-selector-button
) > *:not(:is(ez-ripple)) + * {
  margin-left: var(--ez-5px);
}

/**
 * .ez-btn-group
 * ---------------- */
.ez-btn-group {
  display: flex;
  gap: var(--ez-8px);
  flex-flow: row wrap;
  align-items: center;
}
