label {
  user-select: none;
}

label:has(+ *) {
  font-weight: bold;
}

label:has(+ :required, + * :required)::before {
  content: "*";
  color: red;
  margin-right: 0.25rem;
}

/*
 * x-field
 * ------------------ */
:is(x-field, .x-field) {
  display: inline-block;
  vertical-align: top;
}

:is(x-field, .x-field):not(.x-layout-vertical) > label:has(+ *),
:is(x-field, .x-field):not(.x-layout-vertical) > label:is(* + *) {
  margin-right: 0.5rem;
}

:is(x-field, .x-field).x-layout-vertical > label:has(+ *) {
  display: block;
  margin-bottom: 0.5rem;
}

:is(x-field, .x-field).x-layout-vertical {
  display: block;
}

:is(x-field, .x-field) :is(.x-help, [slot="help"]) {
  margin-top: 0.5rem;
  font-size: smaller;
}

:is(x-field, .x-field) .x-error-message {
  color: red;
  margin-top: 0.5rem;
}
