label {
  user-select: none;
}

label:has(+ *) {
  font-weight: bold;
}

label:has(+ :required, + * :required)::before {
  content: "*";
  color: red;
  margin-right: 0.25rem;
}

/*
 * x-field
 * ------------------ */

:is(x-field, .x-field),
:is(x-field, .x-field):not(.x-layout-vertical) > * {
  display: inline-block;
  vertical-align: top;
}

:is(x-field, .x-field):not(.x-layout-vertical) > label:has(+ *),
:is(x-field, .x-field):not(.x-layout-vertical) > label:is(* + *) {
  margin-right: 0.5rem;
}

:is(x-field, .x-field).x-layout-vertical > label:has(+ *) {
  margin-bottom: 0.5rem;
}

:is(x-field, .x-field).x-layout-vertical,
:is(x-field, .x-field).x-layout-vertical > label:has(+ *) {
  display: block;
}

:is(x-field, .x-field) :is(
  .x-field__error-message,
  .x-field__help,
  [slot="help"],
  .x-help,
  .x-error-message
  ) {
  margin-top: 0.5rem;
}

:is(x-field, .x-field) :is(.x-field__help, [slot="help"], .x-help) {
  font-size: smaller;
}

:is(x-field, .x-field) .x-field__flex-row {
  display: flex;
  flex-flow: row nowrap;
}

:is(x-field, .x-field) .x-field__flex-row .x-field__leading {
  margin-right: 0.5rem;
}

:is(x-field, .x-field) .x-field__flex-row .x-field__trailing {
  margin-left: 0.5rem;
}

:is(x-field, .x-field) :is(.x-field__error-message, .x-error-message) {
  color: red;
}

/*
 * .x-text-input
 *-------------------------*/
.x-text-input {
  border: 2px solid rgb(118, 118, 118);
  background: #fff;
}
