
/*
 * x-field
 * ------------------ */
:is(x-field, .x-field) {
  display: inline-block;
}

:is(x-field, .x-field):not(.x-layout-vertical) > label:has(+ *),
:is(x-field, .x-field):not(.x-layout-vertical) > label:is(* + *) {
  margin-right: 0.5rem;
}

:is(x-field, .x-field).x-layout-vertical > label:has(+ *) {
  display: block;
  margin-bottom: 0.5rem;
}

:is(x-field, .x-field).x-layout-vertical {
  display: block;
}

:is(x-field, .x-field) :is(.x-help, [slot="help"]) {
  font-size: smaller;
}

:is(x-field, .x-field) .x-error-message {
  color: red;
  margin-top: 0.5rem;
}

:is(.x-fieldset, fieldset):not(.x-layout-vertical) :is(x-field, .x-field) > :is(x-field, x-field) {
  margin: 0 0 1rem 1rem;
}
