:where(.ez-radio, .ez-checkbox, [type="radio"], [type="checkbox"]) {
  appearance: none;
  display: inline-grid;
  place-content: center;
  cursor: pointer;
  transition: background-color var(--ez-input-speed), border var(--ez-input-speed),
  opacity var(--ez-input-speed);
  background-color: var(--ez-input-bg-color);
  border: var(--ez-input-border-width) solid var(--ez-input-border-color);
  box-sizing: border-box;
  margin: 0;
}

:where(.ez-checkbox, [type="checkbox"])::after,
:where(.ez-radio, .ez-checkbox, [type="radio"], [type="checkbox"]) {
  width: 1rem;
  height: 1rem;
}

:where(.ez-radio, .ez-checkbox, [type="radio"], [type="checkbox"])::after {
  content: "";
  background-color: var(--ez-input-bg-color);
}

:where(.ez-radio, .ez-checkbox, [type="radio"], [type="checkbox"])[readonly] {
  pointer-events: none;
}

:where(.ez-checkbox, [type="checkbox"]),
:where(.ez-checkbox, [type="checkbox"])::after {
  border-radius: var(--ez-border-radius);
}

:where(.ez-checkbox, [type="checkbox"])::after,
:where(.ez-checkbox, [type="checkbox"]):checked::after {
  background: transparent url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" stroke="white" stroke-width="3" d="M1.73,12.91 8.1,19.28 22.79,4.59"></path></svg>');
  width: var(--ez-12px);
  height: var(--ez-12px);
}

:where(.ez-checkbox, [type="checkbox"]):checked {
  background: var(--ez-input-highlight-color);
}

:where(.ez-checkbox, [type="checkbox"])::after {
  animation: var(--ez-input-speed) box-wipe-obscure;
  animation-fill-mode: forwards;
}

:where(.ez-checkbox, [type="checkbox"]):checked::after {
  animation: var(--ez-input-speed) box-wipe-reveal;
}

@keyframes box-wipe-reveal {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  100% {
    clip-path: inset(0);
  }
}

@keyframes box-wipe-obscure {
  0% {
    clip-path: inset(0);
  }

  100% {
    clip-path: inset(0 100% 0 0);
  }
}
