/**
 * Layout direction
 * ---------------------- */
html:not([dir="rtl"]) :where(ez-input, .ez-input) {
  flex-flow: row nowrap;
}

html[dir="rtl"] :where(ez-input, .ez-input) {
  flex-flow: column nowrap;
}

/**
 * Base
 * ------------------------ */

/**
 * Padding (ltr)
 * ------------------------ */
html:not([dir="rtl"]) :where(ez-input, .ez-input):where(
  input:not(
    [type="button"],
    [type="checkbox"],
    [type="color"],
    [type="image"],
    [type="radio"],
    [type="range"],
    [type="reset"],
    [type="submit"]
   ),
  select,
  textarea
) {
  padding: var(--ez-input-padding-block) var(--ez-input-padding-inline);
}

html:not([dir="rtl"]) :where(ez-input, .ez-input) > *:not(
  [type="button"],
  [type="checkbox"],
  [type="color"],
  [type="image"],
  [type="radio"],
  [type="range"],
  [type="reset"],
  [type="submit"]
) {
  padding: calc(var(--ez-input-padding-block) - var(--ez-input-border-width))
  calc(var(--ez-input-padding-inline) - var(--ez-input-border-width));
}

/**
 * Padding (rtl)
 */
html[dir="rtl"] :where(ez-input, .ez-input):is(
  input:not(
    [type="button"],
    [type="checkbox"],
    [type="color"],
    [type="image"],
    [type="radio"],
    [type="range"],
    [type="reset"],
    [type="submit"]
  ),
  select,
  textarea
) {
  padding: var(--ez-input-padding-inline) var(--ez-input-padding-block);
}

html[dir="rtl"] :where(ez-input, .ez-input) > *:not(
  [type="button"],
  [type="checkbox"],
  [type="color"],
  [type="image"],
  [type="radio"],
  [type="range"],
  [type="reset"],
  [type="submit"]
) {
  padding: calc(var(--ez-input-padding-inline) - var(--ez-input-border-width))
  calc(var(--ez-input-padding-block) - var(--ez-input-border-width));
}

/**
 * Size control - Restrict heights for known control sizes.
 */
:where(ez-input, .ez-input):not(.ez-small, .ez-large, textarea, :has(> textarea)) {
  max-height: calc(36 / 16 * 1rem);
}

/** .. For select elements */
:where(ez-input, .ez-input):not(.ez-small, .ez-large) > select {
  min-height: calc(38 / 16 * 1rem);
}

.ez-input:not(.ez-small, .ez-large):is(select) {
  min-height: calc(36 / 16 * 1rem);
}

/**
 * @todo Support 'ez-small', and 'ez-large', input control, sizes.
 */

/**
 * Default dimensions, where not checkbox, and/or radio button.
 */
:where(ez-input, .ez-input):not([type="checkbox"], [type="radio"]) {
  --ez-input-padding-block: var(--ez-6px);
  --ez-input-padding-inline: var(--ez-6px);

  display: inline-flex;
  width: fit-content;
  height: fit-content;
  color: var(--ez-input-text-color);
}

/**
 * Default background.
 */
:where(ez-input, .ez-input):has(
  input:not(
    [type="button"],
    [type="checkbox"],
    [type="color"],
    [type="image"],
    [type="radio"],
    [type="range"],
    [type="reset"],
    [type="submit"]
  ),
  select,
  textarea
),
:where(ez-input, .ez-input):is(
  input:not(
    [type="button"],
    [type="checkbox"],
    [type="color"],
    [type="image"],
    [type="radio"],
    [type="range"],
    [type="reset"],
    [type="submit"]
  ),
  select,
  textarea
) {
  background: var(--ez-input-bg-color);
}

:where(ez-input, .ez-input) > :is(input, textarea, select) {
  vertical-align: middle;
}

/*
 * Input, Select, Textarea, and 'not checkbox, or radio'
 * ---------------------- */
:where(ez-input, .ez-input):not([type="checkbox"], [type="radio"]),
:where(ez-input, .ez-input) > :is(
  input:not([type="checkbox"], [type="radio"]),
  textarea,
  select
) {
  border-radius: var(--ez-border-radius);
}

:where(ez-input, .ez-input):is(
  input:not([type="checkbox"], [type="radio"]),
  textarea,
  select
),
:where(ez-input, .ez-input) > :is(
  input:not([type="checkbox"], [type="radio"]),
  textarea,
  select
 ) {
  border: none;
  margin: 0;
}

/**
 * Line-height
 */
:where(ez-input, .ez-input):where(
  input:not(
    [type="checkbox"],
    [type="color"],
    [type="image"],
    [type="radio"],
    [type="range"]
  ),
  select,
  textarea
),
:where(ez-input, .ez-input) > :where(
  input:not(
    [type="checkbox"],
    [type="color"],
    [type="image"],
    [type="radio"],
    [type="range"]
  ),
  select,
  textarea
) {
  line-height: var(--ez-24px);
}

/*
 * Focus Visible
 *--------------------- */
:where(ez-input, .ez-input) > :is(
  input:not(
    [type="button"],
    [type="checkbox"],
    [type="color"],
    [type="image"],
    [type="radio"],
    [type="range"],
    [type="reset"],
    [type="submit"]
  ),
  select,
  textarea
):focus-visible {
  outline: none;
}

/*
 * Outlined/Default
 * ----------------------- */
:where(
  :where(ez-input, .ez-input):not(.ez-underlined),
  :where(ez-input, .ez-input).ez-outlined
):has(
  input:not([type="range"], [type="image"], [type="checkbox"], [type="radio"]),
  select,
  textarea
),
:where(
  :where(ez-input, .ez-input):not(.ez-underlined),
  :where(ez-input, .ez-input).ez-outlined
):is(
  input:not([type="range"], [type="image"], [type="checkbox"], [type="radio"]),
  select,
  textarea
) {
  border: var(--ez-border-width) solid;
}

:where(ez-input, .ez-input).ez-underlined {
  border-bottom: var(--ez-border-width) solid;
}

/*
 * Size
 * -------------------- */
:where(ez-input, .ez-input).ez-small {
  /* --ez-input-padding-block: ; */
}
