[type="radio"] {
  border-radius: 1rem;
}

[type="radio"]::after {
  border-radius: var(--ez-8px);
  transition: clip-path var(--ez-input-speed);
  width: var(--ez-8px);
  height: var(--ez-8px);
  clip-path: circle(0);
  background: var(--ez-input-highlight-color);
}

[type="radio"]:checked::after {
  clip-path: circle(100%);
}
