/**
 * colors.css
 *
 * The library's base colors (tentative).
 */

:root {
  --ez-primary-color-0: oklch(0% 0.21000 240deg);
  --ez-primary-color-with-alpha-0: oklch(0% 0.21000 240deg / 100%);
  --ez-primary-color-1: oklch(10% 0.21000 240deg);
  --ez-primary-color-with-alpha-1: oklch(10% 0.21000 240deg / 90%);
  --ez-primary-color-2: oklch(20% 0.21000 240deg);
  --ez-primary-color-with-alpha-2: oklch(20% 0.21000 240deg / 80%);
  --ez-primary-color-3: oklch(30% 0.21000 240deg);
  --ez-primary-color-with-alpha-3: oklch(30% 0.21000 240deg / 70%);
  --ez-primary-color-4: oklch(40% 0.21000 240deg);
  --ez-primary-color-with-alpha-4: oklch(40% 0.21000 240deg / 60%);
  --ez-primary-color-5: oklch(50% 0.21000 240deg);
  --ez-primary-color-with-alpha-5: oklch(50% 0.21000 240deg / 50%);
  --ez-primary-color-6: oklch(60% 0.21000 240deg);
  --ez-primary-color-with-alpha-6: oklch(60% 0.21000 240deg / 40%);
  --ez-primary-color-7: oklch(70% 0.21000 240deg);
  --ez-primary-color-with-alpha-7: oklch(70% 0.21000 240deg / 30%);
  --ez-primary-color-8: oklch(80% 0.21000 240deg);
  --ez-primary-color-with-alpha-8: oklch(80% 0.21000 240deg / 20%);
  --ez-primary-color-9: oklch(90% 0.21000 240deg);
  --ez-primary-color-with-alpha-9: oklch(90% 0.21000 240deg / 10%);
  --ez-primary-color-10: oklch(95% 0.18231 240deg);
  --ez-primary-color-with-alpha-10: oklch(95% 0.18231 240deg / 5%);
  --ez-primary-color-11: oklch(99% 0.12154 240deg);
  --ez-primary-color-with-alpha-11: oklch(99% 0.12154 240deg / 1%);
  --ez-primary-color-12: oklch(100% 0.06077 240deg);
  --ez-primary-color-with-alpha-12: oklch(100% 0.06077 240deg / 0%);
  --ez-secondary-color-0: oklch(0% 0.21000 300deg);
  --ez-secondary-color-with-alpha-0: oklch(0% 0.21000 300deg / 100%);
  --ez-secondary-color-1: oklch(10% 0.21000 300deg);
  --ez-secondary-color-with-alpha-1: oklch(10% 0.21000 300deg / 90%);
  --ez-secondary-color-2: oklch(20% 0.21000 300deg);
  --ez-secondary-color-with-alpha-2: oklch(20% 0.21000 300deg / 80%);
  --ez-secondary-color-3: oklch(30% 0.21000 300deg);
  --ez-secondary-color-with-alpha-3: oklch(30% 0.21000 300deg / 70%);
  --ez-secondary-color-4: oklch(40% 0.21000 300deg);
  --ez-secondary-color-with-alpha-4: oklch(40% 0.21000 300deg / 60%);
  --ez-secondary-color-5: oklch(50% 0.21000 300deg);
  --ez-secondary-color-with-alpha-5: oklch(50% 0.21000 300deg / 50%);
  --ez-secondary-color-6: oklch(60% 0.21000 300deg);
  --ez-secondary-color-with-alpha-6: oklch(60% 0.21000 300deg / 40%);
  --ez-secondary-color-7: oklch(70% 0.21000 300deg);
  --ez-secondary-color-with-alpha-7: oklch(70% 0.21000 300deg / 30%);
  --ez-secondary-color-8: oklch(80% 0.21000 300deg);
  --ez-secondary-color-with-alpha-8: oklch(80% 0.21000 300deg / 20%);
  --ez-secondary-color-9: oklch(90% 0.21000 300deg);
  --ez-secondary-color-with-alpha-9: oklch(90% 0.21000 300deg / 10%);
  --ez-secondary-color-10: oklch(95% 0.18231 300deg);
  --ez-secondary-color-with-alpha-10: oklch(95% 0.18231 300deg / 5%);
  --ez-secondary-color-11: oklch(99% 0.12154 300deg);
  --ez-secondary-color-with-alpha-11: oklch(99% 0.12154 300deg / 1%);
  --ez-secondary-color-12: oklch(100% 0.06077 300deg);
  --ez-secondary-color-with-alpha-12: oklch(100% 0.06077 300deg / 0%);
  --ez-success-color-0: oklch(0% 0.21000 120deg);
  --ez-success-color-with-alpha-0: oklch(0% 0.21000 120deg / 100%);
  --ez-success-color-1: oklch(10% 0.21000 120deg);
  --ez-success-color-with-alpha-1: oklch(10% 0.21000 120deg / 90%);
  --ez-success-color-2: oklch(20% 0.21000 120deg);
  --ez-success-color-with-alpha-2: oklch(20% 0.21000 120deg / 80%);
  --ez-success-color-3: oklch(30% 0.21000 120deg);
  --ez-success-color-with-alpha-3: oklch(30% 0.21000 120deg / 70%);
  --ez-success-color-4: oklch(40% 0.21000 120deg);
  --ez-success-color-with-alpha-4: oklch(40% 0.21000 120deg / 60%);
  --ez-success-color-5: oklch(50% 0.21000 120deg);
  --ez-success-color-with-alpha-5: oklch(50% 0.21000 120deg / 50%);
  --ez-success-color-6: oklch(60% 0.21000 120deg);
  --ez-success-color-with-alpha-6: oklch(60% 0.21000 120deg / 40%);
  --ez-success-color-7: oklch(70% 0.21000 120deg);
  --ez-success-color-with-alpha-7: oklch(70% 0.21000 120deg / 30%);
  --ez-success-color-8: oklch(80% 0.21000 120deg);
  --ez-success-color-with-alpha-8: oklch(80% 0.21000 120deg / 20%);
  --ez-success-color-9: oklch(90% 0.21000 120deg);
  --ez-success-color-with-alpha-9: oklch(90% 0.21000 120deg / 10%);
  --ez-success-color-10: oklch(95% 0.18231 120deg);
  --ez-success-color-with-alpha-10: oklch(95% 0.18231 120deg / 5%);
  --ez-success-color-11: oklch(99% 0.12154 120deg);
  --ez-success-color-with-alpha-11: oklch(99% 0.12154 120deg / 1%);
  --ez-success-color-12: oklch(100% 0.06077 120deg);
  --ez-success-color-with-alpha-12: oklch(100% 0.06077 120deg / 0%);
  --ez-info-color-0: oklch(0% 0.21000 180deg);
  --ez-info-color-with-alpha-0: oklch(0% 0.21000 180deg / 100%);
  --ez-info-color-1: oklch(10% 0.21000 180deg);
  --ez-info-color-with-alpha-1: oklch(10% 0.21000 180deg / 90%);
  --ez-info-color-2: oklch(20% 0.21000 180deg);
  --ez-info-color-with-alpha-2: oklch(20% 0.21000 180deg / 80%);
  --ez-info-color-3: oklch(30% 0.21000 180deg);
  --ez-info-color-with-alpha-3: oklch(30% 0.21000 180deg / 70%);
  --ez-info-color-4: oklch(40% 0.21000 180deg);
  --ez-info-color-with-alpha-4: oklch(40% 0.21000 180deg / 60%);
  --ez-info-color-5: oklch(50% 0.21000 180deg);
  --ez-info-color-with-alpha-5: oklch(50% 0.21000 180deg / 50%);
  --ez-info-color-6: oklch(60% 0.21000 180deg);
  --ez-info-color-with-alpha-6: oklch(60% 0.21000 180deg / 40%);
  --ez-info-color-7: oklch(70% 0.21000 180deg);
  --ez-info-color-with-alpha-7: oklch(70% 0.21000 180deg / 30%);
  --ez-info-color-8: oklch(80% 0.21000 180deg);
  --ez-info-color-with-alpha-8: oklch(80% 0.21000 180deg / 20%);
  --ez-info-color-9: oklch(90% 0.21000 180deg);
  --ez-info-color-with-alpha-9: oklch(90% 0.21000 180deg / 10%);
  --ez-info-color-10: oklch(95% 0.18231 180deg);
  --ez-info-color-with-alpha-10: oklch(95% 0.18231 180deg / 5%);
  --ez-info-color-11: oklch(99% 0.12154 180deg);
  --ez-info-color-with-alpha-11: oklch(99% 0.12154 180deg / 1%);
  --ez-info-color-12: oklch(100% 0.06077 180deg);
  --ez-info-color-with-alpha-12: oklch(100% 0.06077 180deg / 0%);
  --ez-warning-color-0: oklch(0% 0.21000 60deg);
  --ez-warning-color-with-alpha-0: oklch(0% 0.21000 60deg / 100%);
  --ez-warning-color-1: oklch(10% 0.21000 60deg);
  --ez-warning-color-with-alpha-1: oklch(10% 0.21000 60deg / 90%);
  --ez-warning-color-2: oklch(20% 0.21000 60deg);
  --ez-warning-color-with-alpha-2: oklch(20% 0.21000 60deg / 80%);
  --ez-warning-color-3: oklch(30% 0.21000 60deg);
  --ez-warning-color-with-alpha-3: oklch(30% 0.21000 60deg / 70%);
  --ez-warning-color-4: oklch(40% 0.21000 60deg);
  --ez-warning-color-with-alpha-4: oklch(40% 0.21000 60deg / 60%);
  --ez-warning-color-5: oklch(50% 0.21000 60deg);
  --ez-warning-color-with-alpha-5: oklch(50% 0.21000 60deg / 50%);
  --ez-warning-color-6: oklch(60% 0.21000 60deg);
  --ez-warning-color-with-alpha-6: oklch(60% 0.21000 60deg / 40%);
  --ez-warning-color-7: oklch(70% 0.21000 60deg);
  --ez-warning-color-with-alpha-7: oklch(70% 0.21000 60deg / 30%);
  --ez-warning-color-8: oklch(80% 0.21000 60deg);
  --ez-warning-color-with-alpha-8: oklch(80% 0.21000 60deg / 20%);
  --ez-warning-color-9: oklch(90% 0.21000 60deg);
  --ez-warning-color-with-alpha-9: oklch(90% 0.21000 60deg / 10%);
  --ez-warning-color-10: oklch(95% 0.18231 60deg);
  --ez-warning-color-with-alpha-10: oklch(95% 0.18231 60deg / 5%);
  --ez-warning-color-11: oklch(99% 0.12154 60deg);
  --ez-warning-color-with-alpha-11: oklch(99% 0.12154 60deg / 1%);
  --ez-warning-color-12: oklch(100% 0.06077 60deg);
  --ez-warning-color-with-alpha-12: oklch(100% 0.06077 60deg / 0%);
  --ez-danger-color-0: oklch(0% 0.21000 30deg);
  --ez-danger-color-with-alpha-0: oklch(0% 0.21000 30deg / 100%);
  --ez-danger-color-1: oklch(10% 0.21000 30deg);
  --ez-danger-color-with-alpha-1: oklch(10% 0.21000 30deg / 90%);
  --ez-danger-color-2: oklch(20% 0.21000 30deg);
  --ez-danger-color-with-alpha-2: oklch(20% 0.21000 30deg / 80%);
  --ez-danger-color-3: oklch(30% 0.21000 30deg);
  --ez-danger-color-with-alpha-3: oklch(30% 0.21000 30deg / 70%);
  --ez-danger-color-4: oklch(40% 0.21000 30deg);
  --ez-danger-color-with-alpha-4: oklch(40% 0.21000 30deg / 60%);
  --ez-danger-color-5: oklch(50% 0.21000 30deg);
  --ez-danger-color-with-alpha-5: oklch(50% 0.21000 30deg / 50%);
  --ez-danger-color-6: oklch(60% 0.21000 30deg);
  --ez-danger-color-with-alpha-6: oklch(60% 0.21000 30deg / 40%);
  --ez-danger-color-7: oklch(70% 0.21000 30deg);
  --ez-danger-color-with-alpha-7: oklch(70% 0.21000 30deg / 30%);
  --ez-danger-color-8: oklch(80% 0.21000 30deg);
  --ez-danger-color-with-alpha-8: oklch(80% 0.21000 30deg / 20%);
  --ez-danger-color-9: oklch(90% 0.21000 30deg);
  --ez-danger-color-with-alpha-9: oklch(90% 0.21000 30deg / 10%);
  --ez-danger-color-10: oklch(95% 0.18231 30deg);
  --ez-danger-color-with-alpha-10: oklch(95% 0.18231 30deg / 5%);
  --ez-danger-color-11: oklch(99% 0.12154 30deg);
  --ez-danger-color-with-alpha-11: oklch(99% 0.12154 30deg / 1%);
  --ez-danger-color-12: oklch(100% 0.06077 30deg);
  --ez-danger-color-with-alpha-12: oklch(100% 0.06077 30deg / 0%);
  --ez-neutral-color-0: oklch(0% 0 0deg);
  --ez-neutral-color-with-alpha-0: oklch(0% 0 0deg / 100%);
  --ez-neutral-color-1: oklch(10% 0 0deg);
  --ez-neutral-color-with-alpha-1: oklch(10% 0 0deg / 90%);
  --ez-neutral-color-2: oklch(20% 0 0deg);
  --ez-neutral-color-with-alpha-2: oklch(20% 0 0deg / 80%);
  --ez-neutral-color-3: oklch(30% 0 0deg);
  --ez-neutral-color-with-alpha-3: oklch(30% 0 0deg / 70%);
  --ez-neutral-color-4: oklch(40% 0 0deg);
  --ez-neutral-color-with-alpha-4: oklch(40% 0 0deg / 60%);
  --ez-neutral-color-5: oklch(50% 0 0deg);
  --ez-neutral-color-with-alpha-5: oklch(50% 0 0deg / 50%);
  --ez-neutral-color-6: oklch(60% 0 0deg);
  --ez-neutral-color-with-alpha-6: oklch(60% 0 0deg / 40%);
  --ez-neutral-color-7: oklch(70% 0 0deg);
  --ez-neutral-color-with-alpha-7: oklch(70% 0 0deg / 30%);
  --ez-neutral-color-8: oklch(80% 0 0deg);
  --ez-neutral-color-with-alpha-8: oklch(80% 0 0deg / 20%);
  --ez-neutral-color-9: oklch(90% 0 0deg);
  --ez-neutral-color-with-alpha-9: oklch(90% 0 0deg / 10%);
  --ez-neutral-color-10: oklch(95% 0 0deg);
  --ez-neutral-color-with-alpha-10: oklch(95% 0 0deg / 5%);
  --ez-neutral-color-11: oklch(99% 0 0deg);
  --ez-neutral-color-with-alpha-11: oklch(99% 0 0deg / 1%);
  --ez-neutral-color-12: oklch(100% 0 0deg);
  --ez-neutral-color-with-alpha-12: oklch(100% 0 0deg / 0%);
  --ez-field: Field;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ez-field: var(--ez-neutral-color-1);
  }
}

.ez-theme-primary {
  --ez-color-0: var(--ez-primary-color-0);
  --ez-color-with-alpha-0: var(--ez-primary-color-with-alpha-0);
  --ez-color-1: var(--ez-primary-color-1);
  --ez-color-with-alpha-1: var(--ez-primary-color-with-alpha-1);
  --ez-color-2: var(--ez-primary-color-2);
  --ez-color-with-alpha-2: var(--ez-primary-color-with-alpha-2);
  --ez-color-3: var(--ez-primary-color-3);
  --ez-color-with-alpha-3: var(--ez-primary-color-with-alpha-3);
  --ez-color-4: var(--ez-primary-color-4);
  --ez-color-with-alpha-4: var(--ez-primary-color-with-alpha-4);
  --ez-color-5: var(--ez-primary-color-5);
  --ez-color-with-alpha-5: var(--ez-primary-color-with-alpha-5);
  --ez-color-6: var(--ez-primary-color-6);
  --ez-color-with-alpha-6: var(--ez-primary-color-with-alpha-6);
  --ez-color-7: var(--ez-primary-color-7);
  --ez-color-with-alpha-7: var(--ez-primary-color-with-alpha-7);
  --ez-color-8: var(--ez-primary-color-8);
  --ez-color-with-alpha-8: var(--ez-primary-color-with-alpha-8);
  --ez-color-9: var(--ez-primary-color-9);
  --ez-color-with-alpha-9: var(--ez-primary-color-with-alpha-9);
  --ez-color-10: var(--ez-primary-color-10);
  --ez-color-with-alpha-10: var(--ez-primary-color-with-alpha-10);
  --ez-color-11: var(--ez-primary-color-11);
  --ez-color-with-alpha-11: var(--ez-primary-color-with-alpha-11);
  --ez-color-12: var(--ez-primary-color-12);
  --ez-color-with-alpha-12: var(--ez-primary-color-with-alpha-12);
}

.ez-theme-secondary {
  --ez-color-0: var(--ez-secondary-color-0);
  --ez-color-with-alpha-0: var(--ez-secondary-color-with-alpha-0);
  --ez-color-1: var(--ez-secondary-color-1);
  --ez-color-with-alpha-1: var(--ez-secondary-color-with-alpha-1);
  --ez-color-2: var(--ez-secondary-color-2);
  --ez-color-with-alpha-2: var(--ez-secondary-color-with-alpha-2);
  --ez-color-3: var(--ez-secondary-color-3);
  --ez-color-with-alpha-3: var(--ez-secondary-color-with-alpha-3);
  --ez-color-4: var(--ez-secondary-color-4);
  --ez-color-with-alpha-4: var(--ez-secondary-color-with-alpha-4);
  --ez-color-5: var(--ez-secondary-color-5);
  --ez-color-with-alpha-5: var(--ez-secondary-color-with-alpha-5);
  --ez-color-6: var(--ez-secondary-color-6);
  --ez-color-with-alpha-6: var(--ez-secondary-color-with-alpha-6);
  --ez-color-7: var(--ez-secondary-color-7);
  --ez-color-with-alpha-7: var(--ez-secondary-color-with-alpha-7);
  --ez-color-8: var(--ez-secondary-color-8);
  --ez-color-with-alpha-8: var(--ez-secondary-color-with-alpha-8);
  --ez-color-9: var(--ez-secondary-color-9);
  --ez-color-with-alpha-9: var(--ez-secondary-color-with-alpha-9);
  --ez-color-10: var(--ez-secondary-color-10);
  --ez-color-with-alpha-10: var(--ez-secondary-color-with-alpha-10);
  --ez-color-11: var(--ez-secondary-color-11);
  --ez-color-with-alpha-11: var(--ez-secondary-color-with-alpha-11);
  --ez-color-12: var(--ez-secondary-color-12);
  --ez-color-with-alpha-12: var(--ez-secondary-color-with-alpha-12);
}

.ez-theme-success {
  --ez-color-0: var(--ez-success-color-0);
  --ez-color-with-alpha-0: var(--ez-success-color-with-alpha-0);
  --ez-color-1: var(--ez-success-color-1);
  --ez-color-with-alpha-1: var(--ez-success-color-with-alpha-1);
  --ez-color-2: var(--ez-success-color-2);
  --ez-color-with-alpha-2: var(--ez-success-color-with-alpha-2);
  --ez-color-3: var(--ez-success-color-3);
  --ez-color-with-alpha-3: var(--ez-success-color-with-alpha-3);
  --ez-color-4: var(--ez-success-color-4);
  --ez-color-with-alpha-4: var(--ez-success-color-with-alpha-4);
  --ez-color-5: var(--ez-success-color-5);
  --ez-color-with-alpha-5: var(--ez-success-color-with-alpha-5);
  --ez-color-6: var(--ez-success-color-6);
  --ez-color-with-alpha-6: var(--ez-success-color-with-alpha-6);
  --ez-color-7: var(--ez-success-color-7);
  --ez-color-with-alpha-7: var(--ez-success-color-with-alpha-7);
  --ez-color-8: var(--ez-success-color-8);
  --ez-color-with-alpha-8: var(--ez-success-color-with-alpha-8);
  --ez-color-9: var(--ez-success-color-9);
  --ez-color-with-alpha-9: var(--ez-success-color-with-alpha-9);
  --ez-color-10: var(--ez-success-color-10);
  --ez-color-with-alpha-10: var(--ez-success-color-with-alpha-10);
  --ez-color-11: var(--ez-success-color-11);
  --ez-color-with-alpha-11: var(--ez-success-color-with-alpha-11);
  --ez-color-12: var(--ez-success-color-12);
  --ez-color-with-alpha-12: var(--ez-success-color-with-alpha-12);
}

.ez-theme-info {
  --ez-color-0: var(--ez-info-color-0);
  --ez-color-with-alpha-0: var(--ez-info-color-with-alpha-0);
  --ez-color-1: var(--ez-info-color-1);
  --ez-color-with-alpha-1: var(--ez-info-color-with-alpha-1);
  --ez-color-2: var(--ez-info-color-2);
  --ez-color-with-alpha-2: var(--ez-info-color-with-alpha-2);
  --ez-color-3: var(--ez-info-color-3);
  --ez-color-with-alpha-3: var(--ez-info-color-with-alpha-3);
  --ez-color-4: var(--ez-info-color-4);
  --ez-color-with-alpha-4: var(--ez-info-color-with-alpha-4);
  --ez-color-5: var(--ez-info-color-5);
  --ez-color-with-alpha-5: var(--ez-info-color-with-alpha-5);
  --ez-color-6: var(--ez-info-color-6);
  --ez-color-with-alpha-6: var(--ez-info-color-with-alpha-6);
  --ez-color-7: var(--ez-info-color-7);
  --ez-color-with-alpha-7: var(--ez-info-color-with-alpha-7);
  --ez-color-8: var(--ez-info-color-8);
  --ez-color-with-alpha-8: var(--ez-info-color-with-alpha-8);
  --ez-color-9: var(--ez-info-color-9);
  --ez-color-with-alpha-9: var(--ez-info-color-with-alpha-9);
  --ez-color-10: var(--ez-info-color-10);
  --ez-color-with-alpha-10: var(--ez-info-color-with-alpha-10);
  --ez-color-11: var(--ez-info-color-11);
  --ez-color-with-alpha-11: var(--ez-info-color-with-alpha-11);
  --ez-color-12: var(--ez-info-color-12);
  --ez-color-with-alpha-12: var(--ez-info-color-with-alpha-12);
}

.ez-theme-warning {
  --ez-color-0: var(--ez-warning-color-0);
  --ez-color-with-alpha-0: var(--ez-warning-color-with-alpha-0);
  --ez-color-1: var(--ez-warning-color-1);
  --ez-color-with-alpha-1: var(--ez-warning-color-with-alpha-1);
  --ez-color-2: var(--ez-warning-color-2);
  --ez-color-with-alpha-2: var(--ez-warning-color-with-alpha-2);
  --ez-color-3: var(--ez-warning-color-3);
  --ez-color-with-alpha-3: var(--ez-warning-color-with-alpha-3);
  --ez-color-4: var(--ez-warning-color-4);
  --ez-color-with-alpha-4: var(--ez-warning-color-with-alpha-4);
  --ez-color-5: var(--ez-warning-color-5);
  --ez-color-with-alpha-5: var(--ez-warning-color-with-alpha-5);
  --ez-color-6: var(--ez-warning-color-6);
  --ez-color-with-alpha-6: var(--ez-warning-color-with-alpha-6);
  --ez-color-7: var(--ez-warning-color-7);
  --ez-color-with-alpha-7: var(--ez-warning-color-with-alpha-7);
  --ez-color-8: var(--ez-warning-color-8);
  --ez-color-with-alpha-8: var(--ez-warning-color-with-alpha-8);
  --ez-color-9: var(--ez-warning-color-9);
  --ez-color-with-alpha-9: var(--ez-warning-color-with-alpha-9);
  --ez-color-10: var(--ez-warning-color-10);
  --ez-color-with-alpha-10: var(--ez-warning-color-with-alpha-10);
  --ez-color-11: var(--ez-warning-color-11);
  --ez-color-with-alpha-11: var(--ez-warning-color-with-alpha-11);
  --ez-color-12: var(--ez-warning-color-12);
  --ez-color-with-alpha-12: var(--ez-warning-color-with-alpha-12);
}

.ez-theme-danger {
  --ez-color-0: var(--ez-danger-color-0);
  --ez-color-with-alpha-0: var(--ez-danger-color-with-alpha-0);
  --ez-color-1: var(--ez-danger-color-1);
  --ez-color-with-alpha-1: var(--ez-danger-color-with-alpha-1);
  --ez-color-2: var(--ez-danger-color-2);
  --ez-color-with-alpha-2: var(--ez-danger-color-with-alpha-2);
  --ez-color-3: var(--ez-danger-color-3);
  --ez-color-with-alpha-3: var(--ez-danger-color-with-alpha-3);
  --ez-color-4: var(--ez-danger-color-4);
  --ez-color-with-alpha-4: var(--ez-danger-color-with-alpha-4);
  --ez-color-5: var(--ez-danger-color-5);
  --ez-color-with-alpha-5: var(--ez-danger-color-with-alpha-5);
  --ez-color-6: var(--ez-danger-color-6);
  --ez-color-with-alpha-6: var(--ez-danger-color-with-alpha-6);
  --ez-color-7: var(--ez-danger-color-7);
  --ez-color-with-alpha-7: var(--ez-danger-color-with-alpha-7);
  --ez-color-8: var(--ez-danger-color-8);
  --ez-color-with-alpha-8: var(--ez-danger-color-with-alpha-8);
  --ez-color-9: var(--ez-danger-color-9);
  --ez-color-with-alpha-9: var(--ez-danger-color-with-alpha-9);
  --ez-color-10: var(--ez-danger-color-10);
  --ez-color-with-alpha-10: var(--ez-danger-color-with-alpha-10);
  --ez-color-11: var(--ez-danger-color-11);
  --ez-color-with-alpha-11: var(--ez-danger-color-with-alpha-11);
  --ez-color-12: var(--ez-danger-color-12);
  --ez-color-with-alpha-12: var(--ez-danger-color-with-alpha-12);
}

.ez-theme-neutral {
  --ez-color-0: var(--ez-neutral-color-0);
  --ez-color-with-alpha-0: var(--ez-neutral-color-with-alpha-0);
  --ez-color-1: var(--ez-neutral-color-1);
  --ez-color-with-alpha-1: var(--ez-neutral-color-with-alpha-1);
  --ez-color-2: var(--ez-neutral-color-2);
  --ez-color-with-alpha-2: var(--ez-neutral-color-with-alpha-2);
  --ez-color-3: var(--ez-neutral-color-3);
  --ez-color-with-alpha-3: var(--ez-neutral-color-with-alpha-3);
  --ez-color-4: var(--ez-neutral-color-4);
  --ez-color-with-alpha-4: var(--ez-neutral-color-with-alpha-4);
  --ez-color-5: var(--ez-neutral-color-5);
  --ez-color-with-alpha-5: var(--ez-neutral-color-with-alpha-5);
  --ez-color-6: var(--ez-neutral-color-6);
  --ez-color-with-alpha-6: var(--ez-neutral-color-with-alpha-6);
  --ez-color-7: var(--ez-neutral-color-7);
  --ez-color-with-alpha-7: var(--ez-neutral-color-with-alpha-7);
  --ez-color-8: var(--ez-neutral-color-8);
  --ez-color-with-alpha-8: var(--ez-neutral-color-with-alpha-8);
  --ez-color-9: var(--ez-neutral-color-9);
  --ez-color-with-alpha-9: var(--ez-neutral-color-with-alpha-9);
  --ez-color-10: var(--ez-neutral-color-10);
  --ez-color-with-alpha-10: var(--ez-neutral-color-with-alpha-10);
  --ez-color-11: var(--ez-neutral-color-11);
  --ez-color-with-alpha-11: var(--ez-neutral-color-with-alpha-11);
  --ez-color-12: var(--ez-neutral-color-12);
  --ez-color-with-alpha-12: var(--ez-neutral-color-with-alpha-12);
}
