/**
 * colors.css
 *
 * The library's base colors (tentative).
 */

:root {
  --x-primary-color-0: oklch(0% 0.21 240deg);
  --x-primary-color-with-alpha-0: oklch(0% 0.21 240deg / 1.00000);
  --x-primary-color-1: oklch(10% 0.21 240deg);
  --x-primary-color-with-alpha-1: oklch(10% 0.21 240deg / 0.90000);
  --x-primary-color-2: oklch(20% 0.21 240deg);
  --x-primary-color-with-alpha-2: oklch(20% 0.21 240deg / 0.80000);
  --x-primary-color-3: oklch(30% 0.21 240deg);
  --x-primary-color-with-alpha-3: oklch(30% 0.21 240deg / 0.70000);
  --x-primary-color-4: oklch(40% 0.21 240deg);
  --x-primary-color-with-alpha-4: oklch(40% 0.21 240deg / 0.60000);
  --x-primary-color-5: oklch(50% 0.21 240deg);
  --x-primary-color-with-alpha-5: oklch(50% 0.21 240deg / 0.50000);
  --x-primary-color-6: oklch(60% 0.21 240deg);
  --x-primary-color-with-alpha-6: oklch(60% 0.21 240deg / 0.40000);
  --x-primary-color-7: oklch(70% 0.21 240deg);
  --x-primary-color-with-alpha-7: oklch(70% 0.21 240deg / 0.30000);
  --x-primary-color-8: oklch(80% 0.21 240deg);
  --x-primary-color-with-alpha-8: oklch(80% 0.21 240deg / 0.20000);
  --x-primary-color-9: oklch(90% 0.21 240deg);
  --x-primary-color-with-alpha-9: oklch(90% 0.21 240deg / 0.10000);
  --x-primary-color-10: oklch(95% 0.18230769230769228 240deg);
  --x-primary-color-with-alpha-10: oklch(95% 0.18230769230769228 240deg / 0.05000);
  --x-primary-color-11: oklch(99% 0.1215384615384616 240deg);
  --x-primary-color-with-alpha-11: oklch(99% 0.1215384615384616 240deg / 0.01000);
  --x-primary-color-12: oklch(100% 0.0607692307692308 240deg);
  --x-primary-color-with-alpha-12: oklch(100% 0.0607692307692308 240deg / 0.00000);
  --x-secondary-color-0: oklch(0% 0.21 300deg);
  --x-secondary-color-with-alpha-0: oklch(0% 0.21 300deg / 1.00000);
  --x-secondary-color-1: oklch(10% 0.21 300deg);
  --x-secondary-color-with-alpha-1: oklch(10% 0.21 300deg / 0.90000);
  --x-secondary-color-2: oklch(20% 0.21 300deg);
  --x-secondary-color-with-alpha-2: oklch(20% 0.21 300deg / 0.80000);
  --x-secondary-color-3: oklch(30% 0.21 300deg);
  --x-secondary-color-with-alpha-3: oklch(30% 0.21 300deg / 0.70000);
  --x-secondary-color-4: oklch(40% 0.21 300deg);
  --x-secondary-color-with-alpha-4: oklch(40% 0.21 300deg / 0.60000);
  --x-secondary-color-5: oklch(50% 0.21 300deg);
  --x-secondary-color-with-alpha-5: oklch(50% 0.21 300deg / 0.50000);
  --x-secondary-color-6: oklch(60% 0.21 300deg);
  --x-secondary-color-with-alpha-6: oklch(60% 0.21 300deg / 0.40000);
  --x-secondary-color-7: oklch(70% 0.21 300deg);
  --x-secondary-color-with-alpha-7: oklch(70% 0.21 300deg / 0.30000);
  --x-secondary-color-8: oklch(80% 0.21 300deg);
  --x-secondary-color-with-alpha-8: oklch(80% 0.21 300deg / 0.20000);
  --x-secondary-color-9: oklch(90% 0.21 300deg);
  --x-secondary-color-with-alpha-9: oklch(90% 0.21 300deg / 0.10000);
  --x-secondary-color-10: oklch(95% 0.18230769230769228 300deg);
  --x-secondary-color-with-alpha-10: oklch(95% 0.18230769230769228 300deg / 0.05000);
  --x-secondary-color-11: oklch(99% 0.1215384615384616 300deg);
  --x-secondary-color-with-alpha-11: oklch(99% 0.1215384615384616 300deg / 0.01000);
  --x-secondary-color-12: oklch(100% 0.0607692307692308 300deg);
  --x-secondary-color-with-alpha-12: oklch(100% 0.0607692307692308 300deg / 0.00000);
  --x-success-color-0: oklch(0% 0.21 120deg);
  --x-success-color-with-alpha-0: oklch(0% 0.21 120deg / 1.00000);
  --x-success-color-1: oklch(10% 0.21 120deg);
  --x-success-color-with-alpha-1: oklch(10% 0.21 120deg / 0.90000);
  --x-success-color-2: oklch(20% 0.21 120deg);
  --x-success-color-with-alpha-2: oklch(20% 0.21 120deg / 0.80000);
  --x-success-color-3: oklch(30% 0.21 120deg);
  --x-success-color-with-alpha-3: oklch(30% 0.21 120deg / 0.70000);
  --x-success-color-4: oklch(40% 0.21 120deg);
  --x-success-color-with-alpha-4: oklch(40% 0.21 120deg / 0.60000);
  --x-success-color-5: oklch(50% 0.21 120deg);
  --x-success-color-with-alpha-5: oklch(50% 0.21 120deg / 0.50000);
  --x-success-color-6: oklch(60% 0.21 120deg);
  --x-success-color-with-alpha-6: oklch(60% 0.21 120deg / 0.40000);
  --x-success-color-7: oklch(70% 0.21 120deg);
  --x-success-color-with-alpha-7: oklch(70% 0.21 120deg / 0.30000);
  --x-success-color-8: oklch(80% 0.21 120deg);
  --x-success-color-with-alpha-8: oklch(80% 0.21 120deg / 0.20000);
  --x-success-color-9: oklch(90% 0.21 120deg);
  --x-success-color-with-alpha-9: oklch(90% 0.21 120deg / 0.10000);
  --x-success-color-10: oklch(95% 0.18230769230769228 120deg);
  --x-success-color-with-alpha-10: oklch(95% 0.18230769230769228 120deg / 0.05000);
  --x-success-color-11: oklch(99% 0.1215384615384616 120deg);
  --x-success-color-with-alpha-11: oklch(99% 0.1215384615384616 120deg / 0.01000);
  --x-success-color-12: oklch(100% 0.0607692307692308 120deg);
  --x-success-color-with-alpha-12: oklch(100% 0.0607692307692308 120deg / 0.00000);
  --x-info-color-0: oklch(0% 0.21 180deg);
  --x-info-color-with-alpha-0: oklch(0% 0.21 180deg / 1.00000);
  --x-info-color-1: oklch(10% 0.21 180deg);
  --x-info-color-with-alpha-1: oklch(10% 0.21 180deg / 0.90000);
  --x-info-color-2: oklch(20% 0.21 180deg);
  --x-info-color-with-alpha-2: oklch(20% 0.21 180deg / 0.80000);
  --x-info-color-3: oklch(30% 0.21 180deg);
  --x-info-color-with-alpha-3: oklch(30% 0.21 180deg / 0.70000);
  --x-info-color-4: oklch(40% 0.21 180deg);
  --x-info-color-with-alpha-4: oklch(40% 0.21 180deg / 0.60000);
  --x-info-color-5: oklch(50% 0.21 180deg);
  --x-info-color-with-alpha-5: oklch(50% 0.21 180deg / 0.50000);
  --x-info-color-6: oklch(60% 0.21 180deg);
  --x-info-color-with-alpha-6: oklch(60% 0.21 180deg / 0.40000);
  --x-info-color-7: oklch(70% 0.21 180deg);
  --x-info-color-with-alpha-7: oklch(70% 0.21 180deg / 0.30000);
  --x-info-color-8: oklch(80% 0.21 180deg);
  --x-info-color-with-alpha-8: oklch(80% 0.21 180deg / 0.20000);
  --x-info-color-9: oklch(90% 0.21 180deg);
  --x-info-color-with-alpha-9: oklch(90% 0.21 180deg / 0.10000);
  --x-info-color-10: oklch(95% 0.18230769230769228 180deg);
  --x-info-color-with-alpha-10: oklch(95% 0.18230769230769228 180deg / 0.05000);
  --x-info-color-11: oklch(99% 0.1215384615384616 180deg);
  --x-info-color-with-alpha-11: oklch(99% 0.1215384615384616 180deg / 0.01000);
  --x-info-color-12: oklch(100% 0.0607692307692308 180deg);
  --x-info-color-with-alpha-12: oklch(100% 0.0607692307692308 180deg / 0.00000);
  --x-warning-color-0: oklch(0% 0.21 60deg);
  --x-warning-color-with-alpha-0: oklch(0% 0.21 60deg / 1.00000);
  --x-warning-color-1: oklch(10% 0.21 60deg);
  --x-warning-color-with-alpha-1: oklch(10% 0.21 60deg / 0.90000);
  --x-warning-color-2: oklch(20% 0.21 60deg);
  --x-warning-color-with-alpha-2: oklch(20% 0.21 60deg / 0.80000);
  --x-warning-color-3: oklch(30% 0.21 60deg);
  --x-warning-color-with-alpha-3: oklch(30% 0.21 60deg / 0.70000);
  --x-warning-color-4: oklch(40% 0.21 60deg);
  --x-warning-color-with-alpha-4: oklch(40% 0.21 60deg / 0.60000);
  --x-warning-color-5: oklch(50% 0.21 60deg);
  --x-warning-color-with-alpha-5: oklch(50% 0.21 60deg / 0.50000);
  --x-warning-color-6: oklch(60% 0.21 60deg);
  --x-warning-color-with-alpha-6: oklch(60% 0.21 60deg / 0.40000);
  --x-warning-color-7: oklch(70% 0.21 60deg);
  --x-warning-color-with-alpha-7: oklch(70% 0.21 60deg / 0.30000);
  --x-warning-color-8: oklch(80% 0.21 60deg);
  --x-warning-color-with-alpha-8: oklch(80% 0.21 60deg / 0.20000);
  --x-warning-color-9: oklch(90% 0.21 60deg);
  --x-warning-color-with-alpha-9: oklch(90% 0.21 60deg / 0.10000);
  --x-warning-color-10: oklch(95% 0.18230769230769228 60deg);
  --x-warning-color-with-alpha-10: oklch(95% 0.18230769230769228 60deg / 0.05000);
  --x-warning-color-11: oklch(99% 0.1215384615384616 60deg);
  --x-warning-color-with-alpha-11: oklch(99% 0.1215384615384616 60deg / 0.01000);
  --x-warning-color-12: oklch(100% 0.0607692307692308 60deg);
  --x-warning-color-with-alpha-12: oklch(100% 0.0607692307692308 60deg / 0.00000);
  --x-danger-color-0: oklch(0% 0.21 30deg);
  --x-danger-color-with-alpha-0: oklch(0% 0.21 30deg / 1.00000);
  --x-danger-color-1: oklch(10% 0.21 30deg);
  --x-danger-color-with-alpha-1: oklch(10% 0.21 30deg / 0.90000);
  --x-danger-color-2: oklch(20% 0.21 30deg);
  --x-danger-color-with-alpha-2: oklch(20% 0.21 30deg / 0.80000);
  --x-danger-color-3: oklch(30% 0.21 30deg);
  --x-danger-color-with-alpha-3: oklch(30% 0.21 30deg / 0.70000);
  --x-danger-color-4: oklch(40% 0.21 30deg);
  --x-danger-color-with-alpha-4: oklch(40% 0.21 30deg / 0.60000);
  --x-danger-color-5: oklch(50% 0.21 30deg);
  --x-danger-color-with-alpha-5: oklch(50% 0.21 30deg / 0.50000);
  --x-danger-color-6: oklch(60% 0.21 30deg);
  --x-danger-color-with-alpha-6: oklch(60% 0.21 30deg / 0.40000);
  --x-danger-color-7: oklch(70% 0.21 30deg);
  --x-danger-color-with-alpha-7: oklch(70% 0.21 30deg / 0.30000);
  --x-danger-color-8: oklch(80% 0.21 30deg);
  --x-danger-color-with-alpha-8: oklch(80% 0.21 30deg / 0.20000);
  --x-danger-color-9: oklch(90% 0.21 30deg);
  --x-danger-color-with-alpha-9: oklch(90% 0.21 30deg / 0.10000);
  --x-danger-color-10: oklch(95% 0.18230769230769228 30deg);
  --x-danger-color-with-alpha-10: oklch(95% 0.18230769230769228 30deg / 0.05000);
  --x-danger-color-11: oklch(99% 0.1215384615384616 30deg);
  --x-danger-color-with-alpha-11: oklch(99% 0.1215384615384616 30deg / 0.01000);
  --x-danger-color-12: oklch(100% 0.0607692307692308 30deg);
  --x-danger-color-with-alpha-12: oklch(100% 0.0607692307692308 30deg / 0.00000);
  --x-neutral-color-0: oklch(0% 0 0deg);
  --x-neutral-color-with-alpha-0: oklch(0% 0 0deg / 1.00000);
  --x-neutral-color-1: oklch(10% 0 0deg);
  --x-neutral-color-with-alpha-1: oklch(10% 0 0deg / 0.90000);
  --x-neutral-color-2: oklch(20% 0 0deg);
  --x-neutral-color-with-alpha-2: oklch(20% 0 0deg / 0.80000);
  --x-neutral-color-3: oklch(30% 0 0deg);
  --x-neutral-color-with-alpha-3: oklch(30% 0 0deg / 0.70000);
  --x-neutral-color-4: oklch(40% 0 0deg);
  --x-neutral-color-with-alpha-4: oklch(40% 0 0deg / 0.60000);
  --x-neutral-color-5: oklch(50% 0 0deg);
  --x-neutral-color-with-alpha-5: oklch(50% 0 0deg / 0.50000);
  --x-neutral-color-6: oklch(60% 0 0deg);
  --x-neutral-color-with-alpha-6: oklch(60% 0 0deg / 0.40000);
  --x-neutral-color-7: oklch(70% 0 0deg);
  --x-neutral-color-with-alpha-7: oklch(70% 0 0deg / 0.30000);
  --x-neutral-color-8: oklch(80% 0 0deg);
  --x-neutral-color-with-alpha-8: oklch(80% 0 0deg / 0.20000);
  --x-neutral-color-9: oklch(90% 0 0deg);
  --x-neutral-color-with-alpha-9: oklch(90% 0 0deg / 0.10000);
  --x-neutral-color-10: oklch(95% 0 0deg);
  --x-neutral-color-with-alpha-10: oklch(95% 0 0deg / 0.05000);
  --x-neutral-color-11: oklch(99% 0 0deg);
  --x-neutral-color-with-alpha-11: oklch(99% 0 0deg / 0.01000);
  --x-neutral-color-12: oklch(100% 0 0deg);
  --x-neutral-color-with-alpha-12: oklch(100% 0 0deg / 0.00000);
  --x-field: Field;
}

@media (prefers-color-scheme: dark) {
  :root {
    --x-field: var(--x-neutral-color-1);
  }
}

.x-theme-primary {
  --x-color-0: var(--x-primary-color-0);
  --x-color-with-alpha-0: var(--x-primary-color-with-alpha-0);
  --x-color-1: var(--x-primary-color-1);
  --x-color-with-alpha-1: var(--x-primary-color-with-alpha-1);
  --x-color-2: var(--x-primary-color-2);
  --x-color-with-alpha-2: var(--x-primary-color-with-alpha-2);
  --x-color-3: var(--x-primary-color-3);
  --x-color-with-alpha-3: var(--x-primary-color-with-alpha-3);
  --x-color-4: var(--x-primary-color-4);
  --x-color-with-alpha-4: var(--x-primary-color-with-alpha-4);
  --x-color-5: var(--x-primary-color-5);
  --x-color-with-alpha-5: var(--x-primary-color-with-alpha-5);
  --x-color-6: var(--x-primary-color-6);
  --x-color-with-alpha-6: var(--x-primary-color-with-alpha-6);
  --x-color-7: var(--x-primary-color-7);
  --x-color-with-alpha-7: var(--x-primary-color-with-alpha-7);
  --x-color-8: var(--x-primary-color-8);
  --x-color-with-alpha-8: var(--x-primary-color-with-alpha-8);
  --x-color-9: var(--x-primary-color-9);
  --x-color-with-alpha-9: var(--x-primary-color-with-alpha-9);
  --x-color-10: var(--x-primary-color-10);
  --x-color-with-alpha-10: var(--x-primary-color-with-alpha-10);
  --x-color-11: var(--x-primary-color-11);
  --x-color-with-alpha-11: var(--x-primary-color-with-alpha-11);
  --x-color-12: var(--x-primary-color-12);
  --x-color-with-alpha-12: var(--x-primary-color-with-alpha-12);
}

.x-theme-secondary {
  --x-color-0: var(--x-secondary-color-0);
  --x-color-with-alpha-0: var(--x-secondary-color-with-alpha-0);
  --x-color-1: var(--x-secondary-color-1);
  --x-color-with-alpha-1: var(--x-secondary-color-with-alpha-1);
  --x-color-2: var(--x-secondary-color-2);
  --x-color-with-alpha-2: var(--x-secondary-color-with-alpha-2);
  --x-color-3: var(--x-secondary-color-3);
  --x-color-with-alpha-3: var(--x-secondary-color-with-alpha-3);
  --x-color-4: var(--x-secondary-color-4);
  --x-color-with-alpha-4: var(--x-secondary-color-with-alpha-4);
  --x-color-5: var(--x-secondary-color-5);
  --x-color-with-alpha-5: var(--x-secondary-color-with-alpha-5);
  --x-color-6: var(--x-secondary-color-6);
  --x-color-with-alpha-6: var(--x-secondary-color-with-alpha-6);
  --x-color-7: var(--x-secondary-color-7);
  --x-color-with-alpha-7: var(--x-secondary-color-with-alpha-7);
  --x-color-8: var(--x-secondary-color-8);
  --x-color-with-alpha-8: var(--x-secondary-color-with-alpha-8);
  --x-color-9: var(--x-secondary-color-9);
  --x-color-with-alpha-9: var(--x-secondary-color-with-alpha-9);
  --x-color-10: var(--x-secondary-color-10);
  --x-color-with-alpha-10: var(--x-secondary-color-with-alpha-10);
  --x-color-11: var(--x-secondary-color-11);
  --x-color-with-alpha-11: var(--x-secondary-color-with-alpha-11);
  --x-color-12: var(--x-secondary-color-12);
  --x-color-with-alpha-12: var(--x-secondary-color-with-alpha-12);
}

.x-theme-success {
  --x-color-0: var(--x-success-color-0);
  --x-color-with-alpha-0: var(--x-success-color-with-alpha-0);
  --x-color-1: var(--x-success-color-1);
  --x-color-with-alpha-1: var(--x-success-color-with-alpha-1);
  --x-color-2: var(--x-success-color-2);
  --x-color-with-alpha-2: var(--x-success-color-with-alpha-2);
  --x-color-3: var(--x-success-color-3);
  --x-color-with-alpha-3: var(--x-success-color-with-alpha-3);
  --x-color-4: var(--x-success-color-4);
  --x-color-with-alpha-4: var(--x-success-color-with-alpha-4);
  --x-color-5: var(--x-success-color-5);
  --x-color-with-alpha-5: var(--x-success-color-with-alpha-5);
  --x-color-6: var(--x-success-color-6);
  --x-color-with-alpha-6: var(--x-success-color-with-alpha-6);
  --x-color-7: var(--x-success-color-7);
  --x-color-with-alpha-7: var(--x-success-color-with-alpha-7);
  --x-color-8: var(--x-success-color-8);
  --x-color-with-alpha-8: var(--x-success-color-with-alpha-8);
  --x-color-9: var(--x-success-color-9);
  --x-color-with-alpha-9: var(--x-success-color-with-alpha-9);
  --x-color-10: var(--x-success-color-10);
  --x-color-with-alpha-10: var(--x-success-color-with-alpha-10);
  --x-color-11: var(--x-success-color-11);
  --x-color-with-alpha-11: var(--x-success-color-with-alpha-11);
  --x-color-12: var(--x-success-color-12);
  --x-color-with-alpha-12: var(--x-success-color-with-alpha-12);
}

.x-theme-info {
  --x-color-0: var(--x-info-color-0);
  --x-color-with-alpha-0: var(--x-info-color-with-alpha-0);
  --x-color-1: var(--x-info-color-1);
  --x-color-with-alpha-1: var(--x-info-color-with-alpha-1);
  --x-color-2: var(--x-info-color-2);
  --x-color-with-alpha-2: var(--x-info-color-with-alpha-2);
  --x-color-3: var(--x-info-color-3);
  --x-color-with-alpha-3: var(--x-info-color-with-alpha-3);
  --x-color-4: var(--x-info-color-4);
  --x-color-with-alpha-4: var(--x-info-color-with-alpha-4);
  --x-color-5: var(--x-info-color-5);
  --x-color-with-alpha-5: var(--x-info-color-with-alpha-5);
  --x-color-6: var(--x-info-color-6);
  --x-color-with-alpha-6: var(--x-info-color-with-alpha-6);
  --x-color-7: var(--x-info-color-7);
  --x-color-with-alpha-7: var(--x-info-color-with-alpha-7);
  --x-color-8: var(--x-info-color-8);
  --x-color-with-alpha-8: var(--x-info-color-with-alpha-8);
  --x-color-9: var(--x-info-color-9);
  --x-color-with-alpha-9: var(--x-info-color-with-alpha-9);
  --x-color-10: var(--x-info-color-10);
  --x-color-with-alpha-10: var(--x-info-color-with-alpha-10);
  --x-color-11: var(--x-info-color-11);
  --x-color-with-alpha-11: var(--x-info-color-with-alpha-11);
  --x-color-12: var(--x-info-color-12);
  --x-color-with-alpha-12: var(--x-info-color-with-alpha-12);
}

.x-theme-warning {
  --x-color-0: var(--x-warning-color-0);
  --x-color-with-alpha-0: var(--x-warning-color-with-alpha-0);
  --x-color-1: var(--x-warning-color-1);
  --x-color-with-alpha-1: var(--x-warning-color-with-alpha-1);
  --x-color-2: var(--x-warning-color-2);
  --x-color-with-alpha-2: var(--x-warning-color-with-alpha-2);
  --x-color-3: var(--x-warning-color-3);
  --x-color-with-alpha-3: var(--x-warning-color-with-alpha-3);
  --x-color-4: var(--x-warning-color-4);
  --x-color-with-alpha-4: var(--x-warning-color-with-alpha-4);
  --x-color-5: var(--x-warning-color-5);
  --x-color-with-alpha-5: var(--x-warning-color-with-alpha-5);
  --x-color-6: var(--x-warning-color-6);
  --x-color-with-alpha-6: var(--x-warning-color-with-alpha-6);
  --x-color-7: var(--x-warning-color-7);
  --x-color-with-alpha-7: var(--x-warning-color-with-alpha-7);
  --x-color-8: var(--x-warning-color-8);
  --x-color-with-alpha-8: var(--x-warning-color-with-alpha-8);
  --x-color-9: var(--x-warning-color-9);
  --x-color-with-alpha-9: var(--x-warning-color-with-alpha-9);
  --x-color-10: var(--x-warning-color-10);
  --x-color-with-alpha-10: var(--x-warning-color-with-alpha-10);
  --x-color-11: var(--x-warning-color-11);
  --x-color-with-alpha-11: var(--x-warning-color-with-alpha-11);
  --x-color-12: var(--x-warning-color-12);
  --x-color-with-alpha-12: var(--x-warning-color-with-alpha-12);
}

.x-theme-danger {
  --x-color-0: var(--x-danger-color-0);
  --x-color-with-alpha-0: var(--x-danger-color-with-alpha-0);
  --x-color-1: var(--x-danger-color-1);
  --x-color-with-alpha-1: var(--x-danger-color-with-alpha-1);
  --x-color-2: var(--x-danger-color-2);
  --x-color-with-alpha-2: var(--x-danger-color-with-alpha-2);
  --x-color-3: var(--x-danger-color-3);
  --x-color-with-alpha-3: var(--x-danger-color-with-alpha-3);
  --x-color-4: var(--x-danger-color-4);
  --x-color-with-alpha-4: var(--x-danger-color-with-alpha-4);
  --x-color-5: var(--x-danger-color-5);
  --x-color-with-alpha-5: var(--x-danger-color-with-alpha-5);
  --x-color-6: var(--x-danger-color-6);
  --x-color-with-alpha-6: var(--x-danger-color-with-alpha-6);
  --x-color-7: var(--x-danger-color-7);
  --x-color-with-alpha-7: var(--x-danger-color-with-alpha-7);
  --x-color-8: var(--x-danger-color-8);
  --x-color-with-alpha-8: var(--x-danger-color-with-alpha-8);
  --x-color-9: var(--x-danger-color-9);
  --x-color-with-alpha-9: var(--x-danger-color-with-alpha-9);
  --x-color-10: var(--x-danger-color-10);
  --x-color-with-alpha-10: var(--x-danger-color-with-alpha-10);
  --x-color-11: var(--x-danger-color-11);
  --x-color-with-alpha-11: var(--x-danger-color-with-alpha-11);
  --x-color-12: var(--x-danger-color-12);
  --x-color-with-alpha-12: var(--x-danger-color-with-alpha-12);
}

.x-theme-neutral {
  --x-color-0: var(--x-neutral-color-0);
  --x-color-with-alpha-0: var(--x-neutral-color-with-alpha-0);
  --x-color-1: var(--x-neutral-color-1);
  --x-color-with-alpha-1: var(--x-neutral-color-with-alpha-1);
  --x-color-2: var(--x-neutral-color-2);
  --x-color-with-alpha-2: var(--x-neutral-color-with-alpha-2);
  --x-color-3: var(--x-neutral-color-3);
  --x-color-with-alpha-3: var(--x-neutral-color-with-alpha-3);
  --x-color-4: var(--x-neutral-color-4);
  --x-color-with-alpha-4: var(--x-neutral-color-with-alpha-4);
  --x-color-5: var(--x-neutral-color-5);
  --x-color-with-alpha-5: var(--x-neutral-color-with-alpha-5);
  --x-color-6: var(--x-neutral-color-6);
  --x-color-with-alpha-6: var(--x-neutral-color-with-alpha-6);
  --x-color-7: var(--x-neutral-color-7);
  --x-color-with-alpha-7: var(--x-neutral-color-with-alpha-7);
  --x-color-8: var(--x-neutral-color-8);
  --x-color-with-alpha-8: var(--x-neutral-color-with-alpha-8);
  --x-color-9: var(--x-neutral-color-9);
  --x-color-with-alpha-9: var(--x-neutral-color-with-alpha-9);
  --x-color-10: var(--x-neutral-color-10);
  --x-color-with-alpha-10: var(--x-neutral-color-with-alpha-10);
  --x-color-11: var(--x-neutral-color-11);
  --x-color-with-alpha-11: var(--x-neutral-color-with-alpha-11);
  --x-color-12: var(--x-neutral-color-12);
  --x-color-with-alpha-12: var(--x-neutral-color-with-alpha-12);
}
