/**
 * align-items.css
 */
.ez-align-items-normal,
.ez-ai-normal {
  align-items: normal;
}

.ez-align-items-baseline,
.ez-ai-baseline {
  align-items: baseline;
}

.ez-align-items-center,
.ez-ai-center {
  align-items: center;
}

.ez-align-items-start,
.ez-ai-start {
  align-items: start;
}

.ez-align-items-end,
.ez-ai-end {
  align-items: end;
}

.ez-align-items-self-start,
.ez-ai-self-start {
  align-items: self-start;
}

.ez-align-items-self-end,
.ez-ai-self-end {
  align-items: self-end;
}

.ez-align-items-flex-start,
.ez-ai-flex-start {
  align-items: flex-start;
}

.ez-align-items-flex-end,
.ez-ai-flex-end {
  align-items: flex-end;
}
