.ez-appbar {
  --ez-appbar-padding: var(--ez-16px);

  position: relative;
  padding: var(--ez-appbar-padding);
}

.ez-appbar.ez-filled {
  background: var(--ez-color-5);
  color: var(--ez-color-8);
}

.ez-appbar.ez-outlined {
  border: var(--ez-border-width) solid var(--ez-color-4);
  color: var(--ez-color-5);
}

.ez-appbar.ez-raised {
  border: var(--ez-border-width) solid var(--ez-color-4);
  color: var(--ez-color-5);
  box-shadow: 0 var(--ez-2px) var(--ez-3px) var(--ez-neutral-color-with-alpha-6),
  0 var(--ez-3px) var(--ez-5px) var(--ez-neutral-color-with-alpha-6);
}

.ez-appbar.ez-small {
  --ez-appbar-padding: var(--ez-3px);
}
