.x-appbar {
  --x-appbar-padding: var(--x-16px);
  position: relative;
  padding: var(--x-appbar-padding);
}

.x-appbar.x-filled {
  background: var(--x-color-5);
  color: var(--x-color-8);
}

.x-appbar.x-outlined {
  border: var(--x-border-width) solid var(--x-color-4);
  color: var(--x-color-5);
}

.x-appbar.x-raised {
  border: var(--x-border-width) solid var(--x-color-4);
  color: var(--x-color-5);
  box-shadow: 0 var(--x-2px) var(--x-3px) var(--x-neutral-color-with-alpha-6),
  0 var(--x-3px) var(--x-5px) var(--x-neutral-color-with-alpha-6);
}

.x-appbar.x-dense {
  --x-appbar-padding: var(--x-8px);
}

.x-appbar.x-small {
  --x-appbar-padding: var(--x-3px);
}

.x-appbar--auxillary-mode > :first-child {
  position: fixed;
  transform: translateY(-200%);
  transition: transform 0.21s ease-in-out;
  pointer-events: none;
}

.x-appbar--auxillary-mode.x-appbar--auxillary-show > :first-child {
  transform: translateY(-100%);
  pointer-events: all;
}
