.ez-card {
  display: inline-flex;
}

html[dir="ltr"] .ez-card:not(.ez-layout-horizontal) {
  flex-flow: column nowrap;
}

html[dir="rtl"] .ez-card:not(.ez-layout-vertical) {
  flex-flow: row nowrap;
}

.ez-card.ez-outlined {
  border: var(--ez-border-width) solid;
}

/*
.ez-card.ez-filled {

}

.ez-card.ez-raised {

}
*/
