/**
 * Display property classes.
 */
.ez-display-block,
.ez-d-block {
  display: block;
}

.ez-display-contents,
.ez-d-contents {
  display: contents;
}

.ez-display-flex,
.ez-d-flex {
  display: flex;
}

.ez-display-flow-root,
.ez-d-flow-root {
  display: flow-root;
}

.ez-display-grid,
.ez-d-grid {
  display: grid;
}

.ez-display-inline,
.ez-d-inline {
  display: inline;
}

.ez-display-inline-block,
.ez-d-inline-block {
  display: inline-block;
}

.ez-display-inline-flex,
.ez-d-inline-flex {
  display: inline-flex;
}

.ez-display-inline-grid,
.ez-d-inline-grid {
  display: inline-grid;
}

.ez-display-inline-table,
.ez-d-inline-table {
  display: inline-table;
}

.ez-display-list-item,
.ez-d-list-item {
  display: list-item;
}

.ez-display-none,
.ez-d-none {
  display: none;
}

.ez-display-table,
.ez-d-table {
  display: table;
}

.ez-display-table-caption,
.ez-d-table-caption {
  display: table-caption;
}

.ez-display-table-cell,
.ez-d-table-cell {
  display: table-cell;
}

.ez-display-table-column-group,
.ez-d-table-column-group {
  display: table-column-group;
}

.ez-display-table-footer-group,
.ez-d-table-footer-group {
  display: table-footer-group;
}

.ez-display-table-header-group,
.ez-d-table-header-group {
  display: table-header-group;
}

.ez-display-table-row,
.ez-d-table-row {
  display: table-row;
}

.ez-display-table-row-group,
.ez-d-table-row-group {
  display: table-row-group;
}

