:is(.ez-input, ez-input):has(
  :is(input, select, textarea):focus-visible
),
:is(
  .ez-radio, .ez-checkbox, .ez-input, ez-input, button,
  :is(:not(.ez-input, ez-input) > :is(select, textarea, input))
):focus-visible {
  outline: var(--ez-focus-ring-width, var(--ez-1px)) solid var(--ez-focus-ring-color);
  outline-offset: 0;
}

button, a, label {
  cursor: pointer;
}
