:is(.x-input, x-input):has(
  :is(input, select, textarea):focus-visible
),
:is(
  .x-radio, .x-checkbox, .x-input, x-input, button,
  :is(:not(.x-input, x-input) > :is(select, textarea, input))
):focus-visible {
  outline: var(--x-focus-ring-width, var(--x-1px)) solid var(--x-focus-ring-color);
  outline-offset: 0;
}

button, a, label {
  cursor: pointer;
}
