/**
 * Gap classes.
 */

.gap-1px { gap: var(--ez-1px, 1px); }
.gap-2px { gap: var(--ez-2px, 2px); }
.gap-3px { gap: var(--ez-3px, 3px); }
.gap-4px { gap: var(--ez-4px, 4px); }
.gap-5px { gap: var(--ez-5px, 5px); }
.gap-6px { gap: var(--ez-6px, 6px); }
.gap-8px { gap: var(--ez-8px, 8px); }
.gap-9px { gap: var(--ez-9px, 9px); }
.gap-12px { gap: var(--ez-12px, 12px); }
.gap-13px { gap: var(--ez-13px, 13px); }
.gap-16px { gap: var(--ez-16px, 16px); }
.gap-18px { gap: var(--ez-18px, 18px); }
.gap-21px { gap: var(--ez-21px, 21px); }
.gap-24px { gap: var(--ez-24px, 24px); }
.gap-30px { gap: var(--ez-30px, 30px); }
.gap-32px { gap: var(--ez-32px, 32px); }
.gap-34px { gap: var(--ez-34px, 34px); }
.gap-36px { gap: var(--ez-36px, 36px); }
.gap-40px { gap: var(--ez-40px, 40px); }
.gap-42px { gap: var(--ez-42px, 42px); }
.gap-48px { gap: var(--ez-48px, 48px); }
.gap-54px { gap: var(--ez-54px, 54px); }
.gap-55px { gap: var(--ez-55px, 55px); }
.gap-56px { gap: var(--ez-56px, 56px); }
.gap-60px { gap: var(--ez-60px, 60px); }
.gap-64px { gap: var(--ez-64px, 64px); }
.gap-66px { gap: var(--ez-66px, 66px); }
.gap-72px { gap: var(--ez-72px, 72px); }
.gap-78px { gap: var(--ez-78px, 78px); }
.gap-80px { gap: var(--ez-80px, 80px); }
.gap-84px { gap: var(--ez-84px, 84px); }
.gap-88px { gap: var(--ez-88px, 88px); }
.gap-89px { gap: var(--ez-89px, 89px); }
.gap-90px { gap: var(--ez-90px, 90px); }
.gap-96px { gap: var(--ez-96px, 96px); }
.gap-144px { gap: var(--ez-144px, 144px); }
.gap-233px { gap: var(--ez-233px, 233px); }
.gap-377px { gap: var(--ez-377px, 377px); }
.gap-610px { gap: var(--ez-610px, 610px); }
.gap-987px { gap: var(--ez-987px, 987px); }
.gap-1597px { gap: var(--ez-1597px, 1597px); }
.gap-2584px { gap: var(--ez-2584px, 2584px); }
.gap-4181px { gap: var(--ez-4181px, 4181px); }
