/**
 * justify-content.css
 */
.ez-justify-content-center,
.ez-jc-center {
  justify-content: center;
}

.ez-justify-content-start,
.ez-jc-start {
  justify-content: start;
}

.ez-justify-content-end,
.ez-jc-end {
  justify-content: end;
}

.ez-justify-content-flex-start,
.ez-jc-flex-start {
  justify-content: flex-start;
}

.ez-justify-content-flex-end,
.ez-jc-flex-end {
  justify-content: flex-end;
}

.ez-justify-content-left,
.ez-jc-left {
  justify-content: left;
}

.ez-justify-content-right,
.ez-jc-right {
  justify-content: right;
}

.ez-justify-content-normal,
.ez-jc-normal {
  justify-content: normal;
}

.ez-justify-content-space-between,
.ez-jc-space-between {
  justify-content: space-between;
}

.ez-justify-content-space-around,
.ez-jc-space-around {
  justify-content: space-around;
}

.ez-justify-content-space-evenly,
.ez-jc-space-evenly {
  justify-content: space-evenly;
}

.ez-justify-content-stretch,
.ez-jc-stretch {
  justify-content: stretch;
}
