/**
 * Margin and Padding shorthand classes.
 */
.ez-m1px {
  margin: var(--ez-1px, 1px);
}

.ez-m2px {
  margin: var(--ez-2px, 2px);
}

.ez-m3px {
  margin: var(--ez-3px, 3px);
}

.ez-m4px {
  margin: var(--ez-4px, 4px);
}

.ez-m5px {
  margin: var(--ez-5px, 5px);
}

.ez-m6px {
  margin: var(--ez-6px, 6px);
}

.ez-m8px {
  margin: var(--ez-8px, 8px);
}

.ez-m9px {
  margin: var(--ez-9px, 9px);
}

.ez-m12px {
  margin: var(--ez-12px, 12px);
}

.ez-m13px {
  margin: var(--ez-13px, 13px);
}

.ez-m16px {
  margin: var(--ez-16px, 16px);
}

.ez-m18px {
  margin: var(--ez-18px, 18px);
}

.ez-m21px {
  margin: var(--ez-21px, 21px);
}

.ez-m24px {
  margin: var(--ez-24px, 24px);
}

.ez-m30px {
  margin: var(--ez-30px, 30px);
}

.ez-m32px {
  margin: var(--ez-32px, 32px);
}

.ez-m34px {
  margin: var(--ez-34px, 34px);
}

.ez-m36px {
  margin: var(--ez-36px, 36px);
}

.ez-m40px {
  margin: var(--ez-40px, 40px);
}

.ez-m42px {
  margin: var(--ez-42px, 42px);
}

.ez-m48px {
  margin: var(--ez-48px, 48px);
}

.ez-m54px {
  margin: var(--ez-54px, 54px);
}

.ez-m55px {
  margin: var(--ez-55px, 55px);
}

.ez-m56px {
  margin: var(--ez-56px, 56px);
}

.ez-m60px {
  margin: var(--ez-60px, 60px);
}

.ez-m64px {
  margin: var(--ez-64px, 64px);
}

.ez-m66px {
  margin: var(--ez-66px, 66px);
}

.ez-m72px {
  margin: var(--ez-72px, 72px);
}

.ez-m78px {
  margin: var(--ez-78px, 78px);
}

.ez-m80px {
  margin: var(--ez-80px, 80px);
}

.ez-m84px {
  margin: var(--ez-84px, 84px);
}

.ez-m88px {
  margin: var(--ez-88px, 88px);
}

.ez-m89px {
  margin: var(--ez-89px, 89px);
}

.ez-m90px {
  margin: var(--ez-90px, 90px);
}

.ez-m96px {
  margin: var(--ez-96px, 96px);
}

.ez-m144px {
  margin: var(--ez-144px, 144px);
}

.ez-mt1px {
  margin-top: var(--ez-1px, 1px);
}

.ez-mt2px {
  margin-top: var(--ez-2px, 2px);
}

.ez-mt3px {
  margin-top: var(--ez-3px, 3px);
}

.ez-mt4px {
  margin-top: var(--ez-4px, 4px);
}

.ez-mt5px {
  margin-top: var(--ez-5px, 5px);
}

.ez-mt6px {
  margin-top: var(--ez-6px, 6px);
}

.ez-mt8px {
  margin-top: var(--ez-8px, 8px);
}

.ez-mt9px {
  margin-top: var(--ez-9px, 9px);
}

.ez-mt12px {
  margin-top: var(--ez-12px, 12px);
}

.ez-mt13px {
  margin-top: var(--ez-13px, 13px);
}

.ez-mt16px {
  margin-top: var(--ez-16px, 16px);
}

.ez-mt18px {
  margin-top: var(--ez-18px, 18px);
}

.ez-mt21px {
  margin-top: var(--ez-21px, 21px);
}

.ez-mt24px {
  margin-top: var(--ez-24px, 24px);
}

.ez-mt30px {
  margin-top: var(--ez-30px, 30px);
}

.ez-mt32px {
  margin-top: var(--ez-32px, 32px);
}

.ez-mt34px {
  margin-top: var(--ez-34px, 34px);
}

.ez-mt36px {
  margin-top: var(--ez-36px, 36px);
}

.ez-mt40px {
  margin-top: var(--ez-40px, 40px);
}

.ez-mt42px {
  margin-top: var(--ez-42px, 42px);
}

.ez-mt48px {
  margin-top: var(--ez-48px, 48px);
}

.ez-mt54px {
  margin-top: var(--ez-54px, 54px);
}

.ez-mt55px {
  margin-top: var(--ez-55px, 55px);
}

.ez-mt56px {
  margin-top: var(--ez-56px, 56px);
}

.ez-mt60px {
  margin-top: var(--ez-60px, 60px);
}

.ez-mt64px {
  margin-top: var(--ez-64px, 64px);
}

.ez-mt66px {
  margin-top: var(--ez-66px, 66px);
}

.ez-mt72px {
  margin-top: var(--ez-72px, 72px);
}

.ez-mt78px {
  margin-top: var(--ez-78px, 78px);
}

.ez-mt80px {
  margin-top: var(--ez-80px, 80px);
}

.ez-mt84px {
  margin-top: var(--ez-84px, 84px);
}

.ez-mt88px {
  margin-top: var(--ez-88px, 88px);
}

.ez-mt89px {
  margin-top: var(--ez-89px, 89px);
}

.ez-mt90px {
  margin-top: var(--ez-90px, 90px);
}

.ez-mt96px {
  margin-top: var(--ez-96px, 96px);
}

.ez-mt144px {
  margin-top: var(--ez-144px, 144px);
}

.ez-mr1px {
  margin-right: var(--ez-1px, 1px);
}

.ez-mr2px {
  margin-right: var(--ez-2px, 2px);
}

.ez-mr3px {
  margin-right: var(--ez-3px, 3px);
}

.ez-mr4px {
  margin-right: var(--ez-4px, 4px);
}

.ez-mr5px {
  margin-right: var(--ez-5px, 5px);
}

.ez-mr6px {
  margin-right: var(--ez-6px, 6px);
}

.ez-mr8px {
  margin-right: var(--ez-8px, 8px);
}

.ez-mr9px {
  margin-right: var(--ez-9px, 9px);
}

.ez-mr12px {
  margin-right: var(--ez-12px, 12px);
}

.ez-mr13px {
  margin-right: var(--ez-13px, 13px);
}

.ez-mr16px {
  margin-right: var(--ez-16px, 16px);
}

.ez-mr18px {
  margin-right: var(--ez-18px, 18px);
}

.ez-mr21px {
  margin-right: var(--ez-21px, 21px);
}

.ez-mr24px {
  margin-right: var(--ez-24px, 24px);
}

.ez-mr30px {
  margin-right: var(--ez-30px, 30px);
}

.ez-mr32px {
  margin-right: var(--ez-32px, 32px);
}

.ez-mr34px {
  margin-right: var(--ez-34px, 34px);
}

.ez-mr36px {
  margin-right: var(--ez-36px, 36px);
}

.ez-mr40px {
  margin-right: var(--ez-40px, 40px);
}

.ez-mr42px {
  margin-right: var(--ez-42px, 42px);
}

.ez-mr48px {
  margin-right: var(--ez-48px, 48px);
}

.ez-mr54px {
  margin-right: var(--ez-54px, 54px);
}

.ez-mr55px {
  margin-right: var(--ez-55px, 55px);
}

.ez-mr56px {
  margin-right: var(--ez-56px, 56px);
}

.ez-mr60px {
  margin-right: var(--ez-60px, 60px);
}

.ez-mr64px {
  margin-right: var(--ez-64px, 64px);
}

.ez-mr66px {
  margin-right: var(--ez-66px, 66px);
}

.ez-mr72px {
  margin-right: var(--ez-72px, 72px);
}

.ez-mr78px {
  margin-right: var(--ez-78px, 78px);
}

.ez-mr80px {
  margin-right: var(--ez-80px, 80px);
}

.ez-mr84px {
  margin-right: var(--ez-84px, 84px);
}

.ez-mr88px {
  margin-right: var(--ez-88px, 88px);
}

.ez-mr89px {
  margin-right: var(--ez-89px, 89px);
}

.ez-mr90px {
  margin-right: var(--ez-90px, 90px);
}

.ez-mr96px {
  margin-right: var(--ez-96px, 96px);
}

.ez-mr144px {
  margin-right: var(--ez-144px, 144px);
}

.ez-mb1px {
  margin-bottom: var(--ez-1px, 1px);
}

.ez-mb2px {
  margin-bottom: var(--ez-2px, 2px);
}

.ez-mb3px {
  margin-bottom: var(--ez-3px, 3px);
}

.ez-mb4px {
  margin-bottom: var(--ez-4px, 4px);
}

.ez-mb5px {
  margin-bottom: var(--ez-5px, 5px);
}

.ez-mb6px {
  margin-bottom: var(--ez-6px, 6px);
}

.ez-mb8px {
  margin-bottom: var(--ez-8px, 8px);
}

.ez-mb9px {
  margin-bottom: var(--ez-9px, 9px);
}

.ez-mb12px {
  margin-bottom: var(--ez-12px, 12px);
}

.ez-mb13px {
  margin-bottom: var(--ez-13px, 13px);
}

.ez-mb16px {
  margin-bottom: var(--ez-16px, 16px);
}

.ez-mb18px {
  margin-bottom: var(--ez-18px, 18px);
}

.ez-mb21px {
  margin-bottom: var(--ez-21px, 21px);
}

.ez-mb24px {
  margin-bottom: var(--ez-24px, 24px);
}

.ez-mb30px {
  margin-bottom: var(--ez-30px, 30px);
}

.ez-mb32px {
  margin-bottom: var(--ez-32px, 32px);
}

.ez-mb34px {
  margin-bottom: var(--ez-34px, 34px);
}

.ez-mb36px {
  margin-bottom: var(--ez-36px, 36px);
}

.ez-mb40px {
  margin-bottom: var(--ez-40px, 40px);
}

.ez-mb42px {
  margin-bottom: var(--ez-42px, 42px);
}

.ez-mb48px {
  margin-bottom: var(--ez-48px, 48px);
}

.ez-mb54px {
  margin-bottom: var(--ez-54px, 54px);
}

.ez-mb55px {
  margin-bottom: var(--ez-55px, 55px);
}

.ez-mb56px {
  margin-bottom: var(--ez-56px, 56px);
}

.ez-mb60px {
  margin-bottom: var(--ez-60px, 60px);
}

.ez-mb64px {
  margin-bottom: var(--ez-64px, 64px);
}

.ez-mb66px {
  margin-bottom: var(--ez-66px, 66px);
}

.ez-mb72px {
  margin-bottom: var(--ez-72px, 72px);
}

.ez-mb78px {
  margin-bottom: var(--ez-78px, 78px);
}

.ez-mb80px {
  margin-bottom: var(--ez-80px, 80px);
}

.ez-mb84px {
  margin-bottom: var(--ez-84px, 84px);
}

.ez-mb88px {
  margin-bottom: var(--ez-88px, 88px);
}

.ez-mb89px {
  margin-bottom: var(--ez-89px, 89px);
}

.ez-mb90px {
  margin-bottom: var(--ez-90px, 90px);
}

.ez-mb96px {
  margin-bottom: var(--ez-96px, 96px);
}

.ez-mb144px {
  margin-bottom: var(--ez-144px, 144px);
}

.ez-ml1px {
  margin-left: var(--ez-1px, 1px);
}

.ez-ml2px {
  margin-left: var(--ez-2px, 2px);
}

.ez-ml3px {
  margin-left: var(--ez-3px, 3px);
}

.ez-ml4px {
  margin-left: var(--ez-4px, 4px);
}

.ez-ml5px {
  margin-left: var(--ez-5px, 5px);
}

.ez-ml6px {
  margin-left: var(--ez-6px, 6px);
}

.ez-ml8px {
  margin-left: var(--ez-8px, 8px);
}

.ez-ml9px {
  margin-left: var(--ez-9px, 9px);
}

.ez-ml12px {
  margin-left: var(--ez-12px, 12px);
}

.ez-ml13px {
  margin-left: var(--ez-13px, 13px);
}

.ez-ml16px {
  margin-left: var(--ez-16px, 16px);
}

.ez-ml18px {
  margin-left: var(--ez-18px, 18px);
}

.ez-ml21px {
  margin-left: var(--ez-21px, 21px);
}

.ez-ml24px {
  margin-left: var(--ez-24px, 24px);
}

.ez-ml30px {
  margin-left: var(--ez-30px, 30px);
}

.ez-ml32px {
  margin-left: var(--ez-32px, 32px);
}

.ez-ml34px {
  margin-left: var(--ez-34px, 34px);
}

.ez-ml36px {
  margin-left: var(--ez-36px, 36px);
}

.ez-ml40px {
  margin-left: var(--ez-40px, 40px);
}

.ez-ml42px {
  margin-left: var(--ez-42px, 42px);
}

.ez-ml48px {
  margin-left: var(--ez-48px, 48px);
}

.ez-ml54px {
  margin-left: var(--ez-54px, 54px);
}

.ez-ml55px {
  margin-left: var(--ez-55px, 55px);
}

.ez-ml56px {
  margin-left: var(--ez-56px, 56px);
}

.ez-ml60px {
  margin-left: var(--ez-60px, 60px);
}

.ez-ml64px {
  margin-left: var(--ez-64px, 64px);
}

.ez-ml66px {
  margin-left: var(--ez-66px, 66px);
}

.ez-ml72px {
  margin-left: var(--ez-72px, 72px);
}

.ez-ml78px {
  margin-left: var(--ez-78px, 78px);
}

.ez-ml80px {
  margin-left: var(--ez-80px, 80px);
}

.ez-ml84px {
  margin-left: var(--ez-84px, 84px);
}

.ez-ml88px {
  margin-left: var(--ez-88px, 88px);
}

.ez-ml89px {
  margin-left: var(--ez-89px, 89px);
}

.ez-ml90px {
  margin-left: var(--ez-90px, 90px);
}

.ez-ml96px {
  margin-left: var(--ez-96px, 96px);
}

.ez-ml144px {
  margin-left: var(--ez-144px, 144px);
}

.ez-p1px {
  padding: var(--ez-1px, 1px);
}

.ez-p2px {
  padding: var(--ez-2px, 2px);
}

.ez-p3px {
  padding: var(--ez-3px, 3px);
}

.ez-p4px {
  padding: var(--ez-4px, 4px);
}

.ez-p5px {
  padding: var(--ez-5px, 5px);
}

.ez-p6px {
  padding: var(--ez-6px, 6px);
}

.ez-p8px {
  padding: var(--ez-8px, 8px);
}

.ez-p9px {
  padding: var(--ez-9px, 9px);
}

.ez-p12px {
  padding: var(--ez-12px, 12px);
}

.ez-p13px {
  padding: var(--ez-13px, 13px);
}

.ez-p16px {
  padding: var(--ez-16px, 16px);
}

.ez-p18px {
  padding: var(--ez-18px, 18px);
}

.ez-p21px {
  padding: var(--ez-21px, 21px);
}

.ez-p24px {
  padding: var(--ez-24px, 24px);
}

.ez-p30px {
  padding: var(--ez-30px, 30px);
}

.ez-p32px {
  padding: var(--ez-32px, 32px);
}

.ez-p34px {
  padding: var(--ez-34px, 34px);
}

.ez-p36px {
  padding: var(--ez-36px, 36px);
}

.ez-p40px {
  padding: var(--ez-40px, 40px);
}

.ez-p42px {
  padding: var(--ez-42px, 42px);
}

.ez-p48px {
  padding: var(--ez-48px, 48px);
}

.ez-p54px {
  padding: var(--ez-54px, 54px);
}

.ez-p55px {
  padding: var(--ez-55px, 55px);
}

.ez-p56px {
  padding: var(--ez-56px, 56px);
}

.ez-p60px {
  padding: var(--ez-60px, 60px);
}

.ez-p64px {
  padding: var(--ez-64px, 64px);
}

.ez-p66px {
  padding: var(--ez-66px, 66px);
}

.ez-p72px {
  padding: var(--ez-72px, 72px);
}

.ez-p78px {
  padding: var(--ez-78px, 78px);
}

.ez-p80px {
  padding: var(--ez-80px, 80px);
}

.ez-p84px {
  padding: var(--ez-84px, 84px);
}

.ez-p88px {
  padding: var(--ez-88px, 88px);
}

.ez-p89px {
  padding: var(--ez-89px, 89px);
}

.ez-p90px {
  padding: var(--ez-90px, 90px);
}

.ez-p96px {
  padding: var(--ez-96px, 96px);
}

.ez-p144px {
  padding: var(--ez-144px, 144px);
}

.ez-pt1px {
  padding-top: var(--ez-1px, 1px);
}

.ez-pt2px {
  padding-top: var(--ez-2px, 2px);
}

.ez-pt3px {
  padding-top: var(--ez-3px, 3px);
}

.ez-pt4px {
  padding-top: var(--ez-4px, 4px);
}

.ez-pt5px {
  padding-top: var(--ez-5px, 5px);
}

.ez-pt6px {
  padding-top: var(--ez-6px, 6px);
}

.ez-pt8px {
  padding-top: var(--ez-8px, 8px);
}

.ez-pt9px {
  padding-top: var(--ez-9px, 9px);
}

.ez-pt12px {
  padding-top: var(--ez-12px, 12px);
}

.ez-pt13px {
  padding-top: var(--ez-13px, 13px);
}

.ez-pt16px {
  padding-top: var(--ez-16px, 16px);
}

.ez-pt18px {
  padding-top: var(--ez-18px, 18px);
}

.ez-pt21px {
  padding-top: var(--ez-21px, 21px);
}

.ez-pt24px {
  padding-top: var(--ez-24px, 24px);
}

.ez-pt30px {
  padding-top: var(--ez-30px, 30px);
}

.ez-pt32px {
  padding-top: var(--ez-32px, 32px);
}

.ez-pt34px {
  padding-top: var(--ez-34px, 34px);
}

.ez-pt36px {
  padding-top: var(--ez-36px, 36px);
}

.ez-pt40px {
  padding-top: var(--ez-40px, 40px);
}

.ez-pt42px {
  padding-top: var(--ez-42px, 42px);
}

.ez-pt48px {
  padding-top: var(--ez-48px, 48px);
}

.ez-pt54px {
  padding-top: var(--ez-54px, 54px);
}

.ez-pt55px {
  padding-top: var(--ez-55px, 55px);
}

.ez-pt56px {
  padding-top: var(--ez-56px, 56px);
}

.ez-pt60px {
  padding-top: var(--ez-60px, 60px);
}

.ez-pt64px {
  padding-top: var(--ez-64px, 64px);
}

.ez-pt66px {
  padding-top: var(--ez-66px, 66px);
}

.ez-pt72px {
  padding-top: var(--ez-72px, 72px);
}

.ez-pt78px {
  padding-top: var(--ez-78px, 78px);
}

.ez-pt80px {
  padding-top: var(--ez-80px, 80px);
}

.ez-pt84px {
  padding-top: var(--ez-84px, 84px);
}

.ez-pt88px {
  padding-top: var(--ez-88px, 88px);
}

.ez-pt89px {
  padding-top: var(--ez-89px, 89px);
}

.ez-pt90px {
  padding-top: var(--ez-90px, 90px);
}

.ez-pt96px {
  padding-top: var(--ez-96px, 96px);
}

.ez-pt144px {
  padding-top: var(--ez-144px, 144px);
}

.ez-pr1px {
  padding-right: var(--ez-1px, 1px);
}

.ez-pr2px {
  padding-right: var(--ez-2px, 2px);
}

.ez-pr3px {
  padding-right: var(--ez-3px, 3px);
}

.ez-pr4px {
  padding-right: var(--ez-4px, 4px);
}

.ez-pr5px {
  padding-right: var(--ez-5px, 5px);
}

.ez-pr6px {
  padding-right: var(--ez-6px, 6px);
}

.ez-pr8px {
  padding-right: var(--ez-8px, 8px);
}

.ez-pr9px {
  padding-right: var(--ez-9px, 9px);
}

.ez-pr12px {
  padding-right: var(--ez-12px, 12px);
}

.ez-pr13px {
  padding-right: var(--ez-13px, 13px);
}

.ez-pr16px {
  padding-right: var(--ez-16px, 16px);
}

.ez-pr18px {
  padding-right: var(--ez-18px, 18px);
}

.ez-pr21px {
  padding-right: var(--ez-21px, 21px);
}

.ez-pr24px {
  padding-right: var(--ez-24px, 24px);
}

.ez-pr30px {
  padding-right: var(--ez-30px, 30px);
}

.ez-pr32px {
  padding-right: var(--ez-32px, 32px);
}

.ez-pr34px {
  padding-right: var(--ez-34px, 34px);
}

.ez-pr36px {
  padding-right: var(--ez-36px, 36px);
}

.ez-pr40px {
  padding-right: var(--ez-40px, 40px);
}

.ez-pr42px {
  padding-right: var(--ez-42px, 42px);
}

.ez-pr48px {
  padding-right: var(--ez-48px, 48px);
}

.ez-pr54px {
  padding-right: var(--ez-54px, 54px);
}

.ez-pr55px {
  padding-right: var(--ez-55px, 55px);
}

.ez-pr56px {
  padding-right: var(--ez-56px, 56px);
}

.ez-pr60px {
  padding-right: var(--ez-60px, 60px);
}

.ez-pr64px {
  padding-right: var(--ez-64px, 64px);
}

.ez-pr66px {
  padding-right: var(--ez-66px, 66px);
}

.ez-pr72px {
  padding-right: var(--ez-72px, 72px);
}

.ez-pr78px {
  padding-right: var(--ez-78px, 78px);
}

.ez-pr80px {
  padding-right: var(--ez-80px, 80px);
}

.ez-pr84px {
  padding-right: var(--ez-84px, 84px);
}

.ez-pr88px {
  padding-right: var(--ez-88px, 88px);
}

.ez-pr89px {
  padding-right: var(--ez-89px, 89px);
}

.ez-pr90px {
  padding-right: var(--ez-90px, 90px);
}

.ez-pr96px {
  padding-right: var(--ez-96px, 96px);
}

.ez-pr144px {
  padding-right: var(--ez-144px, 144px);
}

.ez-pb1px {
  padding-bottom: var(--ez-1px, 1px);
}

.ez-pb2px {
  padding-bottom: var(--ez-2px, 2px);
}

.ez-pb3px {
  padding-bottom: var(--ez-3px, 3px);
}

.ez-pb4px {
  padding-bottom: var(--ez-4px, 4px);
}

.ez-pb5px {
  padding-bottom: var(--ez-5px, 5px);
}

.ez-pb6px {
  padding-bottom: var(--ez-6px, 6px);
}

.ez-pb8px {
  padding-bottom: var(--ez-8px, 8px);
}

.ez-pb9px {
  padding-bottom: var(--ez-9px, 9px);
}

.ez-pb12px {
  padding-bottom: var(--ez-12px, 12px);
}

.ez-pb13px {
  padding-bottom: var(--ez-13px, 13px);
}

.ez-pb16px {
  padding-bottom: var(--ez-16px, 16px);
}

.ez-pb18px {
  padding-bottom: var(--ez-18px, 18px);
}

.ez-pb21px {
  padding-bottom: var(--ez-21px, 21px);
}

.ez-pb24px {
  padding-bottom: var(--ez-24px, 24px);
}

.ez-pb30px {
  padding-bottom: var(--ez-30px, 30px);
}

.ez-pb32px {
  padding-bottom: var(--ez-32px, 32px);
}

.ez-pb34px {
  padding-bottom: var(--ez-34px, 34px);
}

.ez-pb36px {
  padding-bottom: var(--ez-36px, 36px);
}

.ez-pb40px {
  padding-bottom: var(--ez-40px, 40px);
}

.ez-pb42px {
  padding-bottom: var(--ez-42px, 42px);
}

.ez-pb48px {
  padding-bottom: var(--ez-48px, 48px);
}

.ez-pb54px {
  padding-bottom: var(--ez-54px, 54px);
}

.ez-pb55px {
  padding-bottom: var(--ez-55px, 55px);
}

.ez-pb56px {
  padding-bottom: var(--ez-56px, 56px);
}

.ez-pb60px {
  padding-bottom: var(--ez-60px, 60px);
}

.ez-pb64px {
  padding-bottom: var(--ez-64px, 64px);
}

.ez-pb66px {
  padding-bottom: var(--ez-66px, 66px);
}

.ez-pb72px {
  padding-bottom: var(--ez-72px, 72px);
}

.ez-pb78px {
  padding-bottom: var(--ez-78px, 78px);
}

.ez-pb80px {
  padding-bottom: var(--ez-80px, 80px);
}

.ez-pb84px {
  padding-bottom: var(--ez-84px, 84px);
}

.ez-pb88px {
  padding-bottom: var(--ez-88px, 88px);
}

.ez-pb89px {
  padding-bottom: var(--ez-89px, 89px);
}

.ez-pb90px {
  padding-bottom: var(--ez-90px, 90px);
}

.ez-pb96px {
  padding-bottom: var(--ez-96px, 96px);
}

.ez-pb144px {
  padding-bottom: var(--ez-144px, 144px);
}

.ez-pl1px {
  padding-left: var(--ez-1px, 1px);
}

.ez-pl2px {
  padding-left: var(--ez-2px, 2px);
}

.ez-pl3px {
  padding-left: var(--ez-3px, 3px);
}

.ez-pl4px {
  padding-left: var(--ez-4px, 4px);
}

.ez-pl5px {
  padding-left: var(--ez-5px, 5px);
}

.ez-pl6px {
  padding-left: var(--ez-6px, 6px);
}

.ez-pl8px {
  padding-left: var(--ez-8px, 8px);
}

.ez-pl9px {
  padding-left: var(--ez-9px, 9px);
}

.ez-pl12px {
  padding-left: var(--ez-12px, 12px);
}

.ez-pl13px {
  padding-left: var(--ez-13px, 13px);
}

.ez-pl16px {
  padding-left: var(--ez-16px, 16px);
}

.ez-pl18px {
  padding-left: var(--ez-18px, 18px);
}

.ez-pl21px {
  padding-left: var(--ez-21px, 21px);
}

.ez-pl24px {
  padding-left: var(--ez-24px, 24px);
}

.ez-pl30px {
  padding-left: var(--ez-30px, 30px);
}

.ez-pl32px {
  padding-left: var(--ez-32px, 32px);
}

.ez-pl34px {
  padding-left: var(--ez-34px, 34px);
}

.ez-pl36px {
  padding-left: var(--ez-36px, 36px);
}

.ez-pl40px {
  padding-left: var(--ez-40px, 40px);
}

.ez-pl42px {
  padding-left: var(--ez-42px, 42px);
}

.ez-pl48px {
  padding-left: var(--ez-48px, 48px);
}

.ez-pl54px {
  padding-left: var(--ez-54px, 54px);
}

.ez-pl55px {
  padding-left: var(--ez-55px, 55px);
}

.ez-pl56px {
  padding-left: var(--ez-56px, 56px);
}

.ez-pl60px {
  padding-left: var(--ez-60px, 60px);
}

.ez-pl64px {
  padding-left: var(--ez-64px, 64px);
}

.ez-pl66px {
  padding-left: var(--ez-66px, 66px);
}

.ez-pl72px {
  padding-left: var(--ez-72px, 72px);
}

.ez-pl78px {
  padding-left: var(--ez-78px, 78px);
}

.ez-pl80px {
  padding-left: var(--ez-80px, 80px);
}

.ez-pl84px {
  padding-left: var(--ez-84px, 84px);
}

.ez-pl88px {
  padding-left: var(--ez-88px, 88px);
}

.ez-pl89px {
  padding-left: var(--ez-89px, 89px);
}

.ez-pl90px {
  padding-left: var(--ez-90px, 90px);
}

.ez-pl96px {
  padding-left: var(--ez-96px, 96px);
}

.ez-pl144px {
  padding-left: var(--ez-144px, 144px);
}


