/**
 * position.css
 */
.x-position-static,
.x-pos-static {
  position: static;
}

.x-position-relative,
.x-pos-relative {
  position: relative;
}

.x-position-absolute,
.x-pos-absolute {
  position: absolute;
}

.x-position-sticky,
.x-pos-sticky {
  position: sticky;
}

.x-position-fixed,
.x-pos-fixed {
  position: fixed;
}
