/**
 * position.css
 */
.ez-position-static,
.ez-pos-static {
  position: static;
}

.ez-position-relative,
.ez-pos-relative {
  position: relative;
}

.ez-position-absolute,
.ez-pos-absolute {
  position: absolute;
}

.ez-position-sticky,
.ez-pos-sticky {
  position: sticky;
}

.ez-position-fixed,
.ez-pos-fixed {
  position: fixed;
}
