section > :where(
  header,
  div > header
) {
  padding: 1.5rem;
}

section > :where(
  div,
  section,
  div > section,
  article,
  div > article
) {
  border-top: var(--ez-1px) solid currentcolor;
}

section > :where(
  div,
  section,
  div > section,
  article,
  div > article
) > :where(
  header,
  div > header
) {
  padding: .5rem;
}

section > :where(
  div,
  section,
  div > section,
  article,
  div > article
) > :where(
  header,
  div > header
) + * {
  margin-top: 1rem;
}

section article,
section > :where(
  div,
  .ez-section__body,
  .ez-section-body
) {
  padding: 1.5rem;
}
