/**
 * spacing.css
 *
 * The library's spacing properties - factors of 144, multiples of 6 (and 8) (upto 96), and the fibonacci sequence (upto 4181),
 * represented as `rem` units.
 *
 * ====> DO NOT MANUALLY EDIT THIS FILE - This file is generated via a script ({repo-root}/scripts/gen-css/spacing.mjs).
 */

:root {
  --ez-1px: 0.0625rem;
  --ez-2px: 0.125rem;
  --ez-3px: 0.1875rem;
  --ez-4px: 0.25rem;
  --ez-5px: 0.3125rem;
  --ez-6px: 0.375rem;
  --ez-8px: 0.5rem;
  --ez-9px: 0.5625rem;
  --ez-12px: 0.75rem;
  --ez-13px: 0.8125rem;
  --ez-16px: 1rem;
  --ez-18px: 1.125rem;
  --ez-21px: 1.3125rem;
  --ez-24px: 1.5rem;
  --ez-30px: 1.875rem;
  --ez-32px: 2rem;
  --ez-34px: 2.125rem;
  --ez-36px: 2.25rem;
  --ez-40px: 2.5rem;
  --ez-42px: 2.625rem;
  --ez-48px: 3rem;
  --ez-54px: 3.375rem;
  --ez-55px: 3.4375rem;
  --ez-56px: 3.5rem;
  --ez-60px: 3.75rem;
  --ez-64px: 4rem;
  --ez-66px: 4.125rem;
  --ez-72px: 4.5rem;
  --ez-78px: 4.875rem;
  --ez-80px: 5rem;
  --ez-84px: 5.25rem;
  --ez-88px: 5.5rem;
  --ez-89px: 5.5625rem;
  --ez-90px: 5.625rem;
  --ez-96px: 6rem;
  --ez-144px: 9rem;
  --ez-233px: 14.5625rem;
  --ez-377px: 23.5625rem;
  --ez-610px: 38.125rem;
  --ez-987px: 61.6875rem;
  --ez-1597px: 99.8125rem;
  --ez-2584px: 161.5rem;
  --ez-4181px: 261.3125rem;
}
