@use "atomic-ui-js/dist/index.min.css";

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
 "app-header app-header app-header"
 "app-main app-main app-main"
 "app-footer app-footer app-footer";
}

//body > * > * {
//  max-width: 1597px;
//}

body > .x-app-bar {
  grid-area: app-header;
  border-bottom: var(--x-1px) solid;
  gap: 0.5rem;
}

body > div {
  grid-area: app-main;
  display: inline-grid;
  grid-template-columns: auto 1fr;
}

body > div > nav {
  max-width: var(--x-377px);
}

body > .x-app-footer {
  grid-area: app-footer;
  border-top: var(--x-border-width) solid var(--x-neutral-color-4);
}

body > .x-app-content > main iframe {
  border: none;
}

body > .x-app-content > main > div {
  border-left: 1px solid var(--x-neutral-color-4);
  min-height: 100%;
}

body > .x-app-content > .x-app-nav {
  padding: var(--x-16px);
}

html.with-app-nav-hidden .x-app-nav {
  display: none;
}
