@use "atomic-ui-js/dist/index.min.css";

* {
  box-sizing: border-box;
}

.ez-app-wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
}

.ez-app-wrapper > .ez-appbar {
  grid-column: 1 / -1;
  border-bottom: var(--ez-1px) solid;
  gap: 0.5rem;
}

.ez-app-wrapper > .ez-app-content {
  grid-column: 1 / 3;
  display: inline-grid;
  grid-template-columns: auto 1fr;
}

.ez-app-wrapper > .ez-app-content > nav {
  max-width: var(--ez-377px);
}

.ez-app-wrapper > .ez-app-content > main iframe {
  border: none;
}

.ez-app-wrapper > .ez-app-content > main > div {
  border-left: 1px solid var(--ez-neutral-color-4);
  min-height: 100%;
}

.ez-app-wrapper > .ez-app-content > .ez-app-nav {
  padding: var(--ez-16px);
}

html.with-app-nav-hidden .ez-app-wrapper > .ez-app-content > .ez-app-nav {
  display: none;
}

.ez-app-wrapper > .ez-app-footer {
  grid-column: 1 / -1;
  border-top: var(--ez-border-width) solid var(--ez-neutral-color-4);
}

@media (width <= 600px) {
  .ez-app-wrapper {
    grid-template-columns: 100%;
    grid-template-rows: auto;

    > * {
      grid-column: 1 / -1;
      grid-row: auto;
    }
  }
}
