
/* fallback */
@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: 100 700;
  src: url("https://fonts.gstatic.com/s/materialsymbolsrounded/v104/sykg-zNym6YjUruM-QrEh7-nyTnjDwKNJ_190Fjzag.woff2") format('woff2');
}

.mds-icon,
.material-symbols-rounded {
  font-family: 'Material Symbols Rounded', "Sans Serif Collection", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: var(--x-16px);
  font-feature-settings: 'liga';
  font-variation-settings: 'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;

  /* word-wrap: normal; */
  overflow-wrap: normal;
  direction: ltr;
  padding: 0;
}
