@import "../variables/variables";
@import "../mixins/gen-default-css-props";
@import "./spacing";
@import "./time";

:root {

  // Color props
  @include gen-default-css-props($ecms-colors-map, $ecms-theme-names, $color-indices-map);

  // Font families
  --ecms-global-font-family: #{$ecms-global-font-family};
  --ecms-material-design-icons-family: "Material Icons";

  // Font Sizes @todo Remove these in favor of properties matching "typography" font styles
  --ecms-font-size: var(--ecms-spacing-default);
  --ecms-font-size-one-half: var(--ecms-8px);
  --ecms-font-size-one-third: var(--ecms-5px);
  --ecms-font-size-two-thirds: var(--ecms-8px);
  --ecms-font-size-small: var(--ecms-8px);
  --ecms-font-size-medium: var(--ecms-21px);
  --ecms-font-weight-medium: 600;
  --ecms-font-weight-bold: bold;

  // Input
  --ecms-input-padding: var(--ecms-13px);
  --ecms-input-padding-dense: var(--ecms-8px);
  --ecms-input-placeholder-padding: var(--ecms-5px);
  --ecms-input-line-height: var(--ecms-21px);
  --ecms-input-font-size: var(--ecms-13px);
  --ecms-input-padding-top-bottom-offset: calc(-1 * (var(--ecms-input-line-height) - var(--ecms-input-font-size)));

  // Border
  --ecms-border-radius: var(--ecms-5px);
  --ecms-border-width: var(--ecms-2px);

  // Misc.
  --ecms-browser-focus-color: rgba(0, 89, 255, 0.21);
  --ecms-browser-focus-border-width: var(--ecms-3px);

  // Animation speeds
  --ecms-ani-speed-fast: var(--ecms-0_13s);
  --ecms-ani-speed-medium: var(--ecms-0_21s);
  --ecms-ani-speed-slow: var(--ecms-0_55s);
  --ecms-ani-speed: var(--ecms-ani-speed-medium);

  // Default Ripple Effect Properties
  --ecms-ripple-x: -50%;
  --ecms-ripple-y: -50%;
  --ecms-ripple-diameter: var(--ecms-987px);
  --ecms-ripple-active-opacity: 0.21;
  --ecms-ripple-active-scale: 1;
  --ecms-ripple-hover-opacity: 0.13;
  --ecms-ripple-inactive-opacity: 0;
  --ecms-ripple-inactive-scale: 0;

  --ecms-shadow-color: rgba(0, 0, 0, 0.21);
}
