@import url(checkbox.css);
@import url(radio.css);

/*
 * Layout direction
 * ---------------------- */
html:not([dir="rtl"]) .x-input {
  flex-flow: row nowrap;
}

html[dir="rtl"] .x-input {
  flex-flow: column nowrap;
}

/*
 * Base
 * ------------------------ */
html:not([dir="rtl"]) :is(x-input, .x-input) > :not(input):not([type]) {
  padding: var(--x-input-padding-top) var(--x-input-padding-left);
}

html[dir="rtl"] :is(x-input, .x-input) > :not(input):not([type]) {
  padding: var(--x-input-padding-left) var(--x-input-padding-top);
}

:is(x-input, .x-input) {
  --x-input-padding-top: var(--x-1px);
  --x-input-padding-left: var(--x-2px);

  display: flex;
  width: fit-content;
}

:is(x-input, .x-input) > input {
  vertical-align: middle;
}

/*
 * Input
 * ---------------------- */
:is(x-input, .x-input),
:is(x-input, .x-input) > input {
  font-size: 1rem;
  border-radius: var(--x-border-radius);
}

:is(x-input, .x-input):is(input),
:is(x-input, .x-input) > input {
  border: none;
  margin: 0;
}

/*
 * Focus Visible
 *--------------------- */
:is(x-input, .x-input) > input:focus-visible {
  outline: none;
}

/*
 * Outlined/Default
 * ----------------------- */
:is(x-input, .x-input):not(.x-underlined),
:is(x-input, .x-input).x-outlined {
  border: var(--x-1px) solid;
}

:is(x-input, .x-input).x-underlined {
  border-bottom: var(--x-1px) solid;
}
