/**
 * How it works:
 * `::before` pseudo selector gets designated as the hover/`:focus-visible` surface,
 *  and `::after` as the mousedown/click surface.
 * The `::before` hover transition only happens via `transition`,
 * The `:active` animation only happens via `animation`.
 */

@keyframes ripple-behavior-in {
  0% {
    transform: translate(var(--x-ripple-x), var(--x-ripple-y)) scale(var(--x-ripple-inactive-scale));
    opacity: var(--x-ripple-inactive-opacity);
  }
  55% {
    transform: translate(var(--x-ripple-x), var(--x-ripple-y)) scale(var(--x-ripple-active-scale));
    opacity: var(--x-ripple-active-opacity);
  }
  100% {
    transform: translate(var(--x-ripple-x), var(--x-ripple-y)) scale(var(--x-ripple-active-scale));
    opacity: var(--x-ripple-active-opacity-end);
  }
}

@keyframes ripple-behavior-out {
  0% {
    transform: translate(var(--x-ripple-x), var(--x-ripple-y)) scale(var(--x-ripple-active-scale));
    opacity: var(--x-ripple-active-opacity-end);
  }
  100% {
    transform: translate(var(--x-ripple-x), var(--x-ripple-y)) scale(var(--x-ripple-active-scale));
    opacity: var(--x-ripple-inactive-opacity);
  }
}

x-ripple {
  --x-ripple-x: -50%;
  --x-ripple-y: -50%;

  --x-ripple-opacity: 0.13;
  --x-ripple-active-opacity: 0.21;
  --x-ripple-active-opacity-end: 0.13;
  --x-ripple-inactive-opacity: 0;
  --x-ripple-active-scale: 1;
  --x-ripple-inactive-scale: 0;
  --x-ripple-speed: 0.21s;
  --x-ripple-active-speed: 0.55s;
  --x-ripple-active-speed-out: 0.34s;

  position: relative;
  display: inline-grid;

  transition: background var(--x-ripple-speed),
  background-color var(--x-ripple-speed);
}

x-ripple:hover {
  background: var(--x-theme-hsla-8);
}

x-ripple:empty {
  --x-ripple-diameter: 200%;

  position: absolute;
  left: 0;
  top: 0;
  width: var(--x-ripple-diameter);
  height: var(--x-ripple-diameter);
}

x-ripple,
*:has(> x-ripple:empty) {
  overflow: hidden;
}

x-ripple:not(:empty) {
  --x-ripple-diameter: 100%;

  padding: 0.5rem;
  border-radius: 50%;
}

x-ripple:not(:empty) > :first-child {
  place-self: center;
}

x-ripple::after,
x-ripple::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  background: var(--x-theme-3);
  pointer-events: none;
  transform-origin: center;
  transition: opacity var(--x-ripple-speed),
  background var(--x-ripple-speed),
  background-color var(--x-ripple-speed),
  transform var(--x-ripple-speed) ease-out;
  width: var(--x-ripple-diameter);
  height: var(--x-ripple-diameter);
  border-radius: 50%;
}

x-ripple::before {
  transform: translate(
    var(--x-ripple-x),
    var(--x-ripple-y)
  ) scale(
    var(--x-ripple-inactive-scale)
  );
  opacity: var(--x-ripple-inactive-opacity);
  z-index: 1;
}

x-ripple:where(
    [rippleactive]
  )::before,
x-ripple:has(
    :hover,
    :focus,
    :active
  )::before,
*:has(> x-ripple:empty):where(:hover, :active, :focus) > x-ripple:empty::before {
  transform: translate(
    var(--x-ripple-x),
    var(--x-ripple-y)
  ) scale(
    var(--x-ripple-active-scale)
  );
  opacity: var(--x-ripple-opacity);
}

x-ripple::after {
  z-index: 2;
}

/**
 * "active" out animation.
 */
x-ripple:not([rippleactive])::after {
  animation: var(--x-ripple-active-speed-out) ripple-behavior-out ease-out;
  animation-fill-mode: forwards;
}

/**
 * "active" in animation.
 */
x-ripple[rippleactive]::after,
x-ripple:has(:active, :hover:active)::after,
*:has(> x-ripple:empty):where(:active, :hover:active, :has(> x-ripple:empty[rippleactive])) > x-ripple:empty::after {
  animation: var(--x-ripple-active-speed) ripple-behavior-in ease-out;
  animation-fill-mode: forwards;
}
