:is(.x-radio, .x-checkbox) {
  display: inline-grid;
  place-content: center;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  background-color: Field;
  border: var(--x-1px) solid ButtonBorder;
  box-sizing: border-box;
}

.x-checkbox::after,
:is(.x-radio, .x-checkbox) {
  width: 1rem;
  height: 1rem;
}

:is(.x-radio, .x-checkbox)::after {
  content: "";
  background-color: ButtonText;
}

.x-checkbox,
.x-checkbox::after {
  border-radius: var(--x-border-radius);
}

.x-checkbox::after {
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

:is(.x-radio, .x-checkbox)::after {
  opacity: 0;
}

:is(.x-radio, .x-checkbox):checked::after {
  opacity: 1;
}
