legend {
  font-weight: bold;
  font-size: 18px;
  padding: 0.5rem;
}

/* ----------------
 * x-fieldset
 * ---------------- */
:is(fieldset, .x-fieldset) {
  padding: 1rem;
}

:is(fieldset, .x-fieldset, legend) {
  border-radius: var(--x-border-radius);
  border: var(--x-1px) solid;
}

:is(fieldset, .x-fieldset) + :is(fieldset, .x-fieldset) {
  margin-top: 1.5rem;
}

.x-layout-horizontal > x-field + x-field {
  margin-left: 1rem;
  margin-top: 1rem;
}

/* :is(.x-layout-vertical, :not(.x-layout-horizontal)) > x-field {
  display: block;
} */

/* :is(.x-layout-vertical, :not(.x-layout-horizontal)) > x-field + x-field {
  margin-top: 1rem;
} */

:is(.x-fieldset, fieldset).x-grid {
  display: grid;
  gap: 1rem;
  align-items: center;
}

html:not([dir="rtl"]) :is(.x-fieldset, fieldset).x-grid > label {
  text-align: right;
}

html[dir="rtl"] :is(.x-fieldset, fieldset).x-grid {
  text-align: right;
}

:is(.x-fieldset, fieldset).x-fieldset--grid-2 {
  grid-template-columns: auto auto;
}

:is(.x-fieldset, fieldset):not(.x-grid, .x-layout-horizontal)
> :is(x-field, .x-field):not(:last-child) {
  margin-bottom: 1rem;
}

:is(.x-fieldset, fieldset):not(.x-grid) > * + :is(x-field, .x-field, label) {
  margin-left: 1rem;
}

:is(.x-fieldset, fieldset):not(.x-layout-vertical) :is(x-field, .x-field) > :is(x-field, x-field) {
  margin: 0 0 1rem 1rem;
}

:is(.x-fieldset, fieldset) > :is(* + button, button + *) {
  margin-left: 0.5rem;
}

:where(.x-fieldset, fieldset).x-grid label:has(+ .x-input > textarea) {
  align-self: flex-start;
}
