legend {
  font-weight: bold;
  font-size: 18px;
  padding: 0.5rem;
}

/* ----------------
 * ez-fieldset
 * ---------------- */
:is(fieldset, .ez-fieldset) {
  padding: 1rem;
  gap: 1.5rem;
}

:is(fieldset, .ez-fieldset, legend) {
  border-radius: var(--ez-border-radius);
  border: var(--ez-1px) solid;
}

:is(fieldset, .ez-fieldset) + :is(fieldset, .ez-fieldset) {
  margin-top: 1.5rem;
}


/* :is(.ez-layout-vertical, :not(.ez-layout-horizontal)) > ez-field {
  display: block;
} */

:is(.ez-fieldset, fieldset).ez-grid {
  display: grid;
  gap: 1rem;
  align-items: flex-start;
}

html:not([dir="rtl"]) :is(.ez-fieldset, fieldset).ez-grid > label {
  text-align: right;
}

html[dir="rtl"] :is(.ez-fieldset, fieldset).ez-grid {
  text-align: right;
}

:is(.ez-fieldset, fieldset).ez-fieldset--grid-2 {
  grid-template-columns: auto auto;
}

:where(.ez-fieldset, fieldset).ez-grid label:has(+ .ez-input > textarea) {
  align-self: flex-start;
}
