label {
  user-select: none;
  vertical-align: middle;
}

label,
label span {
  display: inline-block;
}

label > * + * {
  margin-inline-start: 0.25rem;
}

label:has(+ *) {
  font-weight: bold;
}

label:has(+ :required, + * :required)::before {
  content: "*";
  color: red;
  margin-inline-end: 0.25rem;
}

label:has(> ez-ripple > :disabled) {
  pointer-events: none;
}

/*
 * ez-field
 * ------------------ */
:where(ez-field, .ez-field) {
  display: inline-block;
}

:where(ez-field, .ez-field),
:where(ez-field, .ez-field):not(.ez-field--vertical) > * {
  vertical-align: middle;
}

:where(ez-field, .ez-field):not(.ez-field--vertical) > label:has(+ *),
:where(ez-field, .ez-field):not(.ez-field--vertical) > label:is(label + *) {
  margin-inline-end: 0.5rem;
}

:where(ez-field, .ez-field).ez-field--vertical > label:has(+ *) {
  margin-block-end: 0.5rem;
}

:where(ez-field, .ez-field).ez-field--vertical,
:where(ez-field, .ez-field).ez-field--vertical > label:has(+ *) {
  display: block;
}

:where(ez-field, .ez-field) :is(
  .ez-field__error-message,
  .ez-field__help,
  [slot="help"],
  .ez-help,
  .ez-error-message
  ) {
  margin-top: 0.5rem;
}

:where(ez-field, .ez-field) :is(.ez-field__help, [slot="help"], .ez-help) {
  font-size: smaller;
}

:where(ez-field, .ez-field) .ez-field__flex-row {
  display: flex;
  flex-flow: row nowrap;
}

:where(ez-field, .ez-field) .ez-field__flex-row .ez-field__leading {
  margin-right: 0.5rem;
}

:where(ez-field, .ez-field) .ez-field__flex-row .ez-field__trailing {
  margin-left: 0.5rem;
}

:where(ez-field, .ez-field) :is(.ez-field__error-message, .ez-error-message) {
  color: red;
}
