legend {
  font-weight: bold;
  font-size: 18px;
  padding: 0.5rem;
}

/* ----------------
 * x-fieldset
 * ---------------- */
:is(fieldset, .x-fieldset) {
  padding: 1rem;
  gap: 1.5rem;
}

:is(fieldset, .x-fieldset, legend) {
  border-radius: var(--x-border-radius);
  border: var(--x-1px) solid;
}

:is(fieldset, .x-fieldset) + :is(fieldset, .x-fieldset) {
  margin-top: 1.5rem;
}


/* :is(.x-layout-vertical, :not(.x-layout-horizontal)) > x-field {
  display: block;
} */

:is(.x-fieldset, fieldset).x-grid {
  display: grid;
  gap: 1rem;
  align-items: center;
}

html:not([dir="rtl"]) :is(.x-fieldset, fieldset).x-grid > label {
  text-align: right;
}

html[dir="rtl"] :is(.x-fieldset, fieldset).x-grid {
  text-align: right;
}

:is(.x-fieldset, fieldset).x-fieldset--grid-2 {
  grid-template-columns: auto auto;
}

:where(.x-fieldset, fieldset).x-grid label:has(+ .x-input > textarea) {
  align-self: flex-start;
}
