/**
 * colors.css
 *
 * The library's base colors (tentative).
 */

:root {
  --x-primary-color-1: hsl(256, 72%, 10%);
  --x-primary-color-with-alpha-1: hsla(256, 72%, 10%, 0.91);
  --x-primary-color-2: hsl(256, 72%, 20%);
  --x-primary-color-with-alpha-2: hsla(256, 72%, 20%, 0.81);
  --x-primary-color-3: hsl(256, 72%, 30%);
  --x-primary-color-with-alpha-3: hsla(256, 72%, 30%, 0.71);
  --x-primary-color-4: hsl(256, 72%, 40%);
  --x-primary-color-with-alpha-4: hsla(256, 72%, 40%, 0.61);
  --x-primary-color-5: hsl(256, 72%, 50%);
  --x-primary-color-with-alpha-5: hsla(256, 72%, 50%, 0.51);
  --x-primary-color-6: hsl(256, 72%, 60%);
  --x-primary-color-with-alpha-6: hsla(256, 72%, 60%, 0.41000000000000003);
  --x-primary-color-7: hsl(256, 72%, 70%);
  --x-primary-color-with-alpha-7: hsla(256, 72%, 70%, 0.30999999999999994);
  --x-primary-color-8: hsl(256, 72%, 80%);
  --x-primary-color-with-alpha-8: hsla(256, 72%, 80%, 0.20999999999999996);
  --x-primary-color-9: hsl(256, 72%, 90%);
  --x-primary-color-with-alpha-9: hsla(256, 72%, 90%, 0.10999999999999999);
  --x-primary-color-10: hsl(256, 72%, 95%);
  --x-primary-color-with-alpha-10: hsla(256, 72%, 95%, 0.05999999999999994);
  --x-primary-color-11: hsl(256, 72%, 99%);
  --x-primary-color-with-alpha-11: hsla(256, 72%, 99%, 0.020000000000000018);
  --x-primary-color-12: hsl(256, 72%, 100%);
  --x-primary-color-with-alpha-12: hsla(256, 72%, 100%, 0.010000000000000009);
  --x-secondary-color-1: hsl(300, 72%, 10%);
  --x-secondary-color-with-alpha-1: hsla(300, 72%, 10%, 0.91);
  --x-secondary-color-2: hsl(300, 72%, 20%);
  --x-secondary-color-with-alpha-2: hsla(300, 72%, 20%, 0.81);
  --x-secondary-color-3: hsl(300, 72%, 30%);
  --x-secondary-color-with-alpha-3: hsla(300, 72%, 30%, 0.71);
  --x-secondary-color-4: hsl(300, 72%, 40%);
  --x-secondary-color-with-alpha-4: hsla(300, 72%, 40%, 0.61);
  --x-secondary-color-5: hsl(300, 72%, 50%);
  --x-secondary-color-with-alpha-5: hsla(300, 72%, 50%, 0.51);
  --x-secondary-color-6: hsl(300, 72%, 60%);
  --x-secondary-color-with-alpha-6: hsla(300, 72%, 60%, 0.41000000000000003);
  --x-secondary-color-7: hsl(300, 72%, 70%);
  --x-secondary-color-with-alpha-7: hsla(300, 72%, 70%, 0.30999999999999994);
  --x-secondary-color-8: hsl(300, 72%, 80%);
  --x-secondary-color-with-alpha-8: hsla(300, 72%, 80%, 0.20999999999999996);
  --x-secondary-color-9: hsl(300, 72%, 90%);
  --x-secondary-color-with-alpha-9: hsla(300, 72%, 90%, 0.10999999999999999);
  --x-secondary-color-10: hsl(300, 72%, 95%);
  --x-secondary-color-with-alpha-10: hsla(300, 72%, 95%, 0.05999999999999994);
  --x-secondary-color-11: hsl(300, 72%, 99%);
  --x-secondary-color-with-alpha-11: hsla(300, 72%, 99%, 0.020000000000000018);
  --x-secondary-color-12: hsl(300, 72%, 100%);
  --x-secondary-color-with-alpha-12: hsla(300, 72%, 100%, 0.010000000000000009);
  --x-success-color-1: hsl(120, 72%, 10%);
  --x-success-color-with-alpha-1: hsla(120, 72%, 10%, 0.91);
  --x-success-color-2: hsl(120, 72%, 20%);
  --x-success-color-with-alpha-2: hsla(120, 72%, 20%, 0.81);
  --x-success-color-3: hsl(120, 72%, 30%);
  --x-success-color-with-alpha-3: hsla(120, 72%, 30%, 0.71);
  --x-success-color-4: hsl(120, 72%, 40%);
  --x-success-color-with-alpha-4: hsla(120, 72%, 40%, 0.61);
  --x-success-color-5: hsl(120, 72%, 50%);
  --x-success-color-with-alpha-5: hsla(120, 72%, 50%, 0.51);
  --x-success-color-6: hsl(120, 72%, 60%);
  --x-success-color-with-alpha-6: hsla(120, 72%, 60%, 0.41000000000000003);
  --x-success-color-7: hsl(120, 72%, 70%);
  --x-success-color-with-alpha-7: hsla(120, 72%, 70%, 0.30999999999999994);
  --x-success-color-8: hsl(120, 72%, 80%);
  --x-success-color-with-alpha-8: hsla(120, 72%, 80%, 0.20999999999999996);
  --x-success-color-9: hsl(120, 72%, 90%);
  --x-success-color-with-alpha-9: hsla(120, 72%, 90%, 0.10999999999999999);
  --x-success-color-10: hsl(120, 72%, 95%);
  --x-success-color-with-alpha-10: hsla(120, 72%, 95%, 0.05999999999999994);
  --x-success-color-11: hsl(120, 72%, 99%);
  --x-success-color-with-alpha-11: hsla(120, 72%, 99%, 0.020000000000000018);
  --x-success-color-12: hsl(120, 72%, 100%);
  --x-success-color-with-alpha-12: hsla(120, 72%, 100%, 0.010000000000000009);
  --x-info-color-1: hsl(180, 72%, 10%);
  --x-info-color-with-alpha-1: hsla(180, 72%, 10%, 0.91);
  --x-info-color-2: hsl(180, 72%, 20%);
  --x-info-color-with-alpha-2: hsla(180, 72%, 20%, 0.81);
  --x-info-color-3: hsl(180, 72%, 30%);
  --x-info-color-with-alpha-3: hsla(180, 72%, 30%, 0.71);
  --x-info-color-4: hsl(180, 72%, 40%);
  --x-info-color-with-alpha-4: hsla(180, 72%, 40%, 0.61);
  --x-info-color-5: hsl(180, 72%, 50%);
  --x-info-color-with-alpha-5: hsla(180, 72%, 50%, 0.51);
  --x-info-color-6: hsl(180, 72%, 60%);
  --x-info-color-with-alpha-6: hsla(180, 72%, 60%, 0.41000000000000003);
  --x-info-color-7: hsl(180, 72%, 70%);
  --x-info-color-with-alpha-7: hsla(180, 72%, 70%, 0.30999999999999994);
  --x-info-color-8: hsl(180, 72%, 80%);
  --x-info-color-with-alpha-8: hsla(180, 72%, 80%, 0.20999999999999996);
  --x-info-color-9: hsl(180, 72%, 90%);
  --x-info-color-with-alpha-9: hsla(180, 72%, 90%, 0.10999999999999999);
  --x-info-color-10: hsl(180, 72%, 95%);
  --x-info-color-with-alpha-10: hsla(180, 72%, 95%, 0.05999999999999994);
  --x-info-color-11: hsl(180, 72%, 99%);
  --x-info-color-with-alpha-11: hsla(180, 72%, 99%, 0.020000000000000018);
  --x-info-color-12: hsl(180, 72%, 100%);
  --x-info-color-with-alpha-12: hsla(180, 72%, 100%, 0.010000000000000009);
  --x-warning-color-1: hsl(30, 72%, 10%);
  --x-warning-color-with-alpha-1: hsla(30, 72%, 10%, 0.91);
  --x-warning-color-2: hsl(30, 72%, 20%);
  --x-warning-color-with-alpha-2: hsla(30, 72%, 20%, 0.81);
  --x-warning-color-3: hsl(30, 72%, 30%);
  --x-warning-color-with-alpha-3: hsla(30, 72%, 30%, 0.71);
  --x-warning-color-4: hsl(30, 72%, 40%);
  --x-warning-color-with-alpha-4: hsla(30, 72%, 40%, 0.61);
  --x-warning-color-5: hsl(30, 72%, 50%);
  --x-warning-color-with-alpha-5: hsla(30, 72%, 50%, 0.51);
  --x-warning-color-6: hsl(30, 72%, 60%);
  --x-warning-color-with-alpha-6: hsla(30, 72%, 60%, 0.41000000000000003);
  --x-warning-color-7: hsl(30, 72%, 70%);
  --x-warning-color-with-alpha-7: hsla(30, 72%, 70%, 0.30999999999999994);
  --x-warning-color-8: hsl(30, 72%, 80%);
  --x-warning-color-with-alpha-8: hsla(30, 72%, 80%, 0.20999999999999996);
  --x-warning-color-9: hsl(30, 72%, 90%);
  --x-warning-color-with-alpha-9: hsla(30, 72%, 90%, 0.10999999999999999);
  --x-warning-color-10: hsl(30, 72%, 95%);
  --x-warning-color-with-alpha-10: hsla(30, 72%, 95%, 0.05999999999999994);
  --x-warning-color-11: hsl(30, 72%, 99%);
  --x-warning-color-with-alpha-11: hsla(30, 72%, 99%, 0.020000000000000018);
  --x-warning-color-12: hsl(30, 72%, 100%);
  --x-warning-color-with-alpha-12: hsla(30, 72%, 100%, 0.010000000000000009);
  --x-danger-color-1: hsl(0, 72%, 10%);
  --x-danger-color-with-alpha-1: hsla(0, 72%, 10%, 0.91);
  --x-danger-color-2: hsl(0, 72%, 20%);
  --x-danger-color-with-alpha-2: hsla(0, 72%, 20%, 0.81);
  --x-danger-color-3: hsl(0, 72%, 30%);
  --x-danger-color-with-alpha-3: hsla(0, 72%, 30%, 0.71);
  --x-danger-color-4: hsl(0, 72%, 40%);
  --x-danger-color-with-alpha-4: hsla(0, 72%, 40%, 0.61);
  --x-danger-color-5: hsl(0, 72%, 50%);
  --x-danger-color-with-alpha-5: hsla(0, 72%, 50%, 0.51);
  --x-danger-color-6: hsl(0, 72%, 60%);
  --x-danger-color-with-alpha-6: hsla(0, 72%, 60%, 0.41000000000000003);
  --x-danger-color-7: hsl(0, 72%, 70%);
  --x-danger-color-with-alpha-7: hsla(0, 72%, 70%, 0.30999999999999994);
  --x-danger-color-8: hsl(0, 72%, 80%);
  --x-danger-color-with-alpha-8: hsla(0, 72%, 80%, 0.20999999999999996);
  --x-danger-color-9: hsl(0, 72%, 90%);
  --x-danger-color-with-alpha-9: hsla(0, 72%, 90%, 0.10999999999999999);
  --x-danger-color-10: hsl(0, 72%, 95%);
  --x-danger-color-with-alpha-10: hsla(0, 72%, 95%, 0.05999999999999994);
  --x-danger-color-11: hsl(0, 72%, 99%);
  --x-danger-color-with-alpha-11: hsla(0, 72%, 99%, 0.020000000000000018);
  --x-danger-color-12: hsl(0, 72%, 100%);
  --x-danger-color-with-alpha-12: hsla(0, 72%, 100%, 0.010000000000000009);
  --x-neutral-color-1: hsl(0, 0%, 10%);
  --x-neutral-color-with-alpha-1: hsla(0, 0%, 10%, 0.91);
  --x-neutral-color-2: hsl(0, 0%, 20%);
  --x-neutral-color-with-alpha-2: hsla(0, 0%, 20%, 0.81);
  --x-neutral-color-3: hsl(0, 0%, 30%);
  --x-neutral-color-with-alpha-3: hsla(0, 0%, 30%, 0.71);
  --x-neutral-color-4: hsl(0, 0%, 40%);
  --x-neutral-color-with-alpha-4: hsla(0, 0%, 40%, 0.61);
  --x-neutral-color-5: hsl(0, 0%, 50%);
  --x-neutral-color-with-alpha-5: hsla(0, 0%, 50%, 0.51);
  --x-neutral-color-6: hsl(0, 0%, 60%);
  --x-neutral-color-with-alpha-6: hsla(0, 0%, 60%, 0.41000000000000003);
  --x-neutral-color-7: hsl(0, 0%, 70%);
  --x-neutral-color-with-alpha-7: hsla(0, 0%, 70%, 0.30999999999999994);
  --x-neutral-color-8: hsl(0, 0%, 80%);
  --x-neutral-color-with-alpha-8: hsla(0, 0%, 80%, 0.20999999999999996);
  --x-neutral-color-9: hsl(0, 0%, 90%);
  --x-neutral-color-with-alpha-9: hsla(0, 0%, 90%, 0.10999999999999999);
  --x-neutral-color-10: hsl(0, 0%, 95%);
  --x-neutral-color-with-alpha-10: hsla(0, 0%, 95%, 0.05999999999999994);
  --x-neutral-color-11: hsl(0, 0%, 99%);
  --x-neutral-color-with-alpha-11: hsla(0, 0%, 99%, 0.020000000000000018);
  --x-neutral-color-12: hsl(0, 0%, 100%);
  --x-neutral-color-with-alpha-12: hsla(0, 0%, 100%, 0.010000000000000009);

  --x-field: Field;
}

@media (prefers-color-scheme: dark) {
  :root {
    --x-field: var(--x-neutral-hsl-10);
  }
}

.x-theme-primary {
  --x-color-1: var(--x-primary-color-1);
  --x-color-with-alpha-1: var(--x-primary-color-with-alpha-1);
  --x-color-2: var(--x-primary-color-2);
  --x-color-with-alpha-2: var(--x-primary-color-with-alpha-2);
  --x-color-3: var(--x-primary-color-3);
  --x-color-with-alpha-3: var(--x-primary-color-with-alpha-3);
  --x-color-4: var(--x-primary-color-4);
  --x-color-with-alpha-4: var(--x-primary-color-with-alpha-4);
  --x-color-5: var(--x-primary-color-5);
  --x-color-with-alpha-5: var(--x-primary-color-with-alpha-5);
  --x-color-6: var(--x-primary-color-6);
  --x-color-with-alpha-6: var(--x-primary-color-with-alpha-6);
  --x-color-7: var(--x-primary-color-7);
  --x-color-with-alpha-7: var(--x-primary-color-with-alpha-7);
  --x-color-8: var(--x-primary-color-8);
  --x-color-with-alpha-8: var(--x-primary-color-with-alpha-8);
  --x-color-9: var(--x-primary-color-9);
  --x-color-with-alpha-9: var(--x-primary-color-with-alpha-9);
  --x-color-10: var(--x-primary-color-10);
  --x-color-with-alpha-10: var(--x-primary-color-with-alpha-10);
  --x-color-11: var(--x-primary-color-11);
  --x-color-with-alpha-11: var(--x-primary-color-with-alpha-11);
  --x-color-12: var(--x-primary-color-12);
  --x-color-with-alpha-12: var(--x-primary-color-with-alpha-12);
}

.x-theme-secondary {
  --x-color-1: var(--x-secondary-color-1);
  --x-color-with-alpha-1: var(--x-secondary-color-with-alpha-1);
  --x-color-2: var(--x-secondary-color-2);
  --x-color-with-alpha-2: var(--x-secondary-color-with-alpha-2);
  --x-color-3: var(--x-secondary-color-3);
  --x-color-with-alpha-3: var(--x-secondary-color-with-alpha-3);
  --x-color-4: var(--x-secondary-color-4);
  --x-color-with-alpha-4: var(--x-secondary-color-with-alpha-4);
  --x-color-5: var(--x-secondary-color-5);
  --x-color-with-alpha-5: var(--x-secondary-color-with-alpha-5);
  --x-color-6: var(--x-secondary-color-6);
  --x-color-with-alpha-6: var(--x-secondary-color-with-alpha-6);
  --x-color-7: var(--x-secondary-color-7);
  --x-color-with-alpha-7: var(--x-secondary-color-with-alpha-7);
  --x-color-8: var(--x-secondary-color-8);
  --x-color-with-alpha-8: var(--x-secondary-color-with-alpha-8);
  --x-color-9: var(--x-secondary-color-9);
  --x-color-with-alpha-9: var(--x-secondary-color-with-alpha-9);
  --x-color-10: var(--x-secondary-color-10);
  --x-color-with-alpha-10: var(--x-secondary-color-with-alpha-10);
  --x-color-11: var(--x-secondary-color-11);
  --x-color-with-alpha-11: var(--x-secondary-color-with-alpha-11);
  --x-color-12: var(--x-secondary-color-12);
  --x-color-with-alpha-12: var(--x-secondary-color-with-alpha-12);
}

.x-theme-success {
  --x-color-1: var(--x-success-color-1);
  --x-color-with-alpha-1: var(--x-success-color-with-alpha-1);
  --x-color-2: var(--x-success-color-2);
  --x-color-with-alpha-2: var(--x-success-color-with-alpha-2);
  --x-color-3: var(--x-success-color-3);
  --x-color-with-alpha-3: var(--x-success-color-with-alpha-3);
  --x-color-4: var(--x-success-color-4);
  --x-color-with-alpha-4: var(--x-success-color-with-alpha-4);
  --x-color-5: var(--x-success-color-5);
  --x-color-with-alpha-5: var(--x-success-color-with-alpha-5);
  --x-color-6: var(--x-success-color-6);
  --x-color-with-alpha-6: var(--x-success-color-with-alpha-6);
  --x-color-7: var(--x-success-color-7);
  --x-color-with-alpha-7: var(--x-success-color-with-alpha-7);
  --x-color-8: var(--x-success-color-8);
  --x-color-with-alpha-8: var(--x-success-color-with-alpha-8);
  --x-color-9: var(--x-success-color-9);
  --x-color-with-alpha-9: var(--x-success-color-with-alpha-9);
  --x-color-10: var(--x-success-color-10);
  --x-color-with-alpha-10: var(--x-success-color-with-alpha-10);
  --x-color-11: var(--x-success-color-11);
  --x-color-with-alpha-11: var(--x-success-color-with-alpha-11);
  --x-color-12: var(--x-success-color-12);
  --x-color-with-alpha-12: var(--x-success-color-with-alpha-12);
}

.x-theme-info {
  --x-color-1: var(--x-info-color-1);
  --x-color-with-alpha-1: var(--x-info-color-with-alpha-1);
  --x-color-2: var(--x-info-color-2);
  --x-color-with-alpha-2: var(--x-info-color-with-alpha-2);
  --x-color-3: var(--x-info-color-3);
  --x-color-with-alpha-3: var(--x-info-color-with-alpha-3);
  --x-color-4: var(--x-info-color-4);
  --x-color-with-alpha-4: var(--x-info-color-with-alpha-4);
  --x-color-5: var(--x-info-color-5);
  --x-color-with-alpha-5: var(--x-info-color-with-alpha-5);
  --x-color-6: var(--x-info-color-6);
  --x-color-with-alpha-6: var(--x-info-color-with-alpha-6);
  --x-color-7: var(--x-info-color-7);
  --x-color-with-alpha-7: var(--x-info-color-with-alpha-7);
  --x-color-8: var(--x-info-color-8);
  --x-color-with-alpha-8: var(--x-info-color-with-alpha-8);
  --x-color-9: var(--x-info-color-9);
  --x-color-with-alpha-9: var(--x-info-color-with-alpha-9);
  --x-color-10: var(--x-info-color-10);
  --x-color-with-alpha-10: var(--x-info-color-with-alpha-10);
  --x-color-11: var(--x-info-color-11);
  --x-color-with-alpha-11: var(--x-info-color-with-alpha-11);
  --x-color-12: var(--x-info-color-12);
  --x-color-with-alpha-12: var(--x-info-color-with-alpha-12);
}

.x-theme-warning {
  --x-color-1: var(--x-warning-color-1);
  --x-color-with-alpha-1: var(--x-warning-color-with-alpha-1);
  --x-color-2: var(--x-warning-color-2);
  --x-color-with-alpha-2: var(--x-warning-color-with-alpha-2);
  --x-color-3: var(--x-warning-color-3);
  --x-color-with-alpha-3: var(--x-warning-color-with-alpha-3);
  --x-color-4: var(--x-warning-color-4);
  --x-color-with-alpha-4: var(--x-warning-color-with-alpha-4);
  --x-color-5: var(--x-warning-color-5);
  --x-color-with-alpha-5: var(--x-warning-color-with-alpha-5);
  --x-color-6: var(--x-warning-color-6);
  --x-color-with-alpha-6: var(--x-warning-color-with-alpha-6);
  --x-color-7: var(--x-warning-color-7);
  --x-color-with-alpha-7: var(--x-warning-color-with-alpha-7);
  --x-color-8: var(--x-warning-color-8);
  --x-color-with-alpha-8: var(--x-warning-color-with-alpha-8);
  --x-color-9: var(--x-warning-color-9);
  --x-color-with-alpha-9: var(--x-warning-color-with-alpha-9);
  --x-color-10: var(--x-warning-color-10);
  --x-color-with-alpha-10: var(--x-warning-color-with-alpha-10);
  --x-color-11: var(--x-warning-color-11);
  --x-color-with-alpha-11: var(--x-warning-color-with-alpha-11);
  --x-color-12: var(--x-warning-color-12);
  --x-color-with-alpha-12: var(--x-warning-color-with-alpha-12);
}

.x-theme-danger {
  --x-color-1: var(--x-danger-color-1);
  --x-color-with-alpha-1: var(--x-danger-color-with-alpha-1);
  --x-color-2: var(--x-danger-color-2);
  --x-color-with-alpha-2: var(--x-danger-color-with-alpha-2);
  --x-color-3: var(--x-danger-color-3);
  --x-color-with-alpha-3: var(--x-danger-color-with-alpha-3);
  --x-color-4: var(--x-danger-color-4);
  --x-color-with-alpha-4: var(--x-danger-color-with-alpha-4);
  --x-color-5: var(--x-danger-color-5);
  --x-color-with-alpha-5: var(--x-danger-color-with-alpha-5);
  --x-color-6: var(--x-danger-color-6);
  --x-color-with-alpha-6: var(--x-danger-color-with-alpha-6);
  --x-color-7: var(--x-danger-color-7);
  --x-color-with-alpha-7: var(--x-danger-color-with-alpha-7);
  --x-color-8: var(--x-danger-color-8);
  --x-color-with-alpha-8: var(--x-danger-color-with-alpha-8);
  --x-color-9: var(--x-danger-color-9);
  --x-color-with-alpha-9: var(--x-danger-color-with-alpha-9);
  --x-color-10: var(--x-danger-color-10);
  --x-color-with-alpha-10: var(--x-danger-color-with-alpha-10);
  --x-color-11: var(--x-danger-color-11);
  --x-color-with-alpha-11: var(--x-danger-color-with-alpha-11);
  --x-color-12: var(--x-danger-color-12);
  --x-color-with-alpha-12: var(--x-danger-color-with-alpha-12);
}

.x-theme-neutral {
  --x-color-1: var(--x-neutral-color-1);
  --x-color-with-alpha-1: var(--x-neutral-color-with-alpha-1);
  --x-color-2: var(--x-neutral-color-2);
  --x-color-with-alpha-2: var(--x-neutral-color-with-alpha-2);
  --x-color-3: var(--x-neutral-color-3);
  --x-color-with-alpha-3: var(--x-neutral-color-with-alpha-3);
  --x-color-4: var(--x-neutral-color-4);
  --x-color-with-alpha-4: var(--x-neutral-color-with-alpha-4);
  --x-color-5: var(--x-neutral-color-5);
  --x-color-with-alpha-5: var(--x-neutral-color-with-alpha-5);
  --x-color-6: var(--x-neutral-color-6);
  --x-color-with-alpha-6: var(--x-neutral-color-with-alpha-6);
  --x-color-7: var(--x-neutral-color-7);
  --x-color-with-alpha-7: var(--x-neutral-color-with-alpha-7);
  --x-color-8: var(--x-neutral-color-8);
  --x-color-with-alpha-8: var(--x-neutral-color-with-alpha-8);
  --x-color-9: var(--x-neutral-color-9);
  --x-color-with-alpha-9: var(--x-neutral-color-with-alpha-9);
  --x-color-10: var(--x-neutral-color-10);
  --x-color-with-alpha-10: var(--x-neutral-color-with-alpha-10);
  --x-color-11: var(--x-neutral-color-11);
  --x-color-with-alpha-11: var(--x-neutral-color-with-alpha-11);
  --x-color-12: var(--x-neutral-color-12);
  --x-color-with-alpha-12: var(--x-neutral-color-with-alpha-12);
}
