.main-section {
  position: relative;
}

.scrollable-element-example {
  overflow: auto;
  max-width: 55vw;
  max-height: 33vh;
  height: 33vh;
  margin: 1.5rem auto;
  border: var(--ez-border-width) solid var(--ez-input-border-color);

  &--with-visible-back-to-top-btn .back-to-top {
    transform: translateX(0);
    opacity: 1;
  }
}
