@import url("../button/button.css");
@import url("field.css");
@import url("fieldset.css");
@import url("../input/checkbox.css");
@import url("../input/radio.css");
@import url("../input/input.css");

input,
textarea,
select,
button {
  font-size: 1rem;
}

:disabled {
  pointer-events: none;
  opacity: 0.34;
}
