:root {
  --x-primary-hsl-1: hsl(240, 75%, 13%);
  --x-primary-hsl-2: hsl(240, 75%, 21%);
  --x-primary-hsl-3: hsl(240, 75%, 34%);
  --x-primary-hsl-4: hsl(240, 75%, 55%);
  --x-primary-hsl-5: hsl(240, 75%, 89%);
  --x-secondary-hsl-1: hsl(300, 75%, 13%);
  --x-secondary-hsl-2: hsl(300, 75%, 21%);
  --x-secondary-hsl-3: hsl(300, 75%, 34%);
  --x-secondary-hsl-4: hsl(300, 75%, 55%);
  --x-secondary-hsl-5: hsl(300, 75%, 89%);
  --x-success-hsl-1: hsl(120, 75%, 13%);
  --x-success-hsl-2: hsl(120, 75%, 21%);
  --x-success-hsl-3: hsl(120, 75%, 34%);
  --x-success-hsl-4: hsl(120, 75%, 55%);
  --x-success-hsl-5: hsl(120, 75%, 89%);
  --x-info-hsl-1: hsl(180, 75%, 13%);
  --x-info-hsl-2: hsl(180, 75%, 21%);
  --x-info-hsl-3: hsl(180, 75%, 34%);
  --x-info-hsl-4: hsl(180, 75%, 55%);
  --x-info-hsl-5: hsl(180, 75%, 89%);
  --x-warning-hsl-1: hsl(30, 75%, 13%);
  --x-warning-hsl-2: hsl(30, 75%, 21%);
  --x-warning-hsl-3: hsl(30, 75%, 34%);
  --x-warning-hsl-4: hsl(30, 75%, 55%);
  --x-warning-hsl-5: hsl(30, 75%, 89%);
  --x-danger-hsl-1: hsl(0, 75%, 13%);
  --x-danger-hsl-2: hsl(0, 75%, 21%);
  --x-danger-hsl-3: hsl(0, 75%, 34%);
  --x-danger-hsl-4: hsl(0, 75%, 55%);
  --x-danger-hsl-5: hsl(0, 75%, 89%);
  --x-neutral-hsl-1: hsl(0, 0%, 13%);
  --x-neutral-hsl-2: hsl(0, 0%, 21%);
  --x-neutral-hsl-3: hsl(0, 0%, 34%);
  --x-neutral-hsl-4: hsl(0, 0%, 55%);
  --x-neutral-hsl-5: hsl(0, 0%, 89%)
}
