.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

.js-draggable-2-container {
  width: 610px;
  height: 377px;
  border: 1px solid #000;
}

.js-draggable-3-container {
  width: 610px;
  height: 377px;
  border: 1px solid #000;
  box-sizing: border-box;
  overflow: hidden;
  transform: perspective(610px) rotateY(45deg);
  perspective-origin: 100% 5%;
}

.js-draggable-3-container .js-draggable-3.draggable {
  width: 1156px; /* 34px width .item x 34 times*/
  height: 377px;
  padding: 0;
}

.js-draggable-3-container .item {
  display: inline;
  width: 34px;
  height: 377px;
  float: left;
  background-color: green;
  border: 1px solid #000;
  box-sizing: border-box;
}

.draggable {
  will-change: transform;
  touch-action: none;
  width: 34px;
  height: 34px;
  padding: 34px;
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  transform-origin: 0 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bg-red {
  background: red;
}

.bg-blue {
  background: blue;
}
