.ecms-element-variants {
  margin-bottom: 3rem;
}

.ecms-element-variants-grid {
  display: grid;
  max-width: 1280px;

  column-gap: 1rem;
  grid-column-gap: 1rem;

  row-gap: 1.44rem;
  grid-row-gap: 1.44rem;

  margin-bottom: 1rem;

  > * {
    display: inline-block;

    > label {
      display: block;
      margin: 8px 0;
    }
  }
}

.ecms-element-variants__variant-fullwidth {
  flex-basis: 100%;
  width: 100%;
}

.ecms-element-variants-grid-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  > * {
    margin: 13px 21px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .ecms-element-variants-grid {
    grid-template-columns: 100vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .ecms-element-variants-grid {
    grid-template-columns: 45vw 45vw;
  }
}

@media (min-width: 1025px) {
  .ecms-element-variants-grid {
    grid-template-columns: 28vw 28vw 28vw;
  }
}

@media (min-width: 1280px) {
  .ecms-element-variants-grid {
    grid-template-columns: 21vw 21vw 21vw 21vw;
  }
}

@media (min-width: 1440px) {
  .ecms-element-variants-grid {
    grid-template-columns: repeat(5, 18vw);
  }
}
