@import "fibonacci";
@import "../functions/ecms-map-funcs";

// Space map @todo generate these from loop
$ecms-space-map: (
  "0_01": 0.01rem,
  "0_02": 0.02rem,
  "0_03": 0.03rem,
  "0_05": 0.05rem,
  "0_08": 0.08rem,
  "0_13": 0.13rem,
  "0_21": 0.21rem,
  "0_34": 0.34rem,
  "0_55": 0.55rem,
  "0_89": 0.89rem,
  "1_44": 1.44rem,
  "2_33": 2.33rem,
  "3_77": 3.77rem,
  "6_10": 6.10rem,
  "9_87": 9.87rem
);

// Spacing map
$ecms-spacing-map: ecms_gen_spacing_map($ecms-fib-map) !default;

// Small REMs (mostly unusable)
$ecms-rem-0_01: 0.01rem;
$ecms-rem-0_02: 0.02rem;
$ecms-rem-0_03: 0.03rem;
$ecms-rem-0_05: 0.05rem;
$ecms-rem-0_08: 0.08rem;

// Usable  REMs
$ecms-rem-0_13: 0.13rem;
$ecms-rem-0_21: 0.21rem;
$ecms-rem-0_34: 0.34rem;
$ecms-rem-0_55: 0.55rem;
$ecms-rem-0_89: 0.89rem;
$ecms-rem-1_44: 1.44rem;
$ecms-rem-2_33: 2.33rem;
$ecms-rem-3_77: 3.77rem;
$ecms-rem-6_10: 6.10rem;
$ecms-rem-9_87: 9.87rem;
