/** Layout direction **/
html:not([dir="rtl"]) .x-input {
  flex-flow: row nowrap;
}

html[dir="rtl"] .x-input {
  flex-flow: column nowrap;
}

html:not([dir="rtl"]) .x-input > * + * {
  margin-left: 0.25rem;
}

html[dir="rtl"] .x-input > * + * {
  margin-top: 0.25rem;
}

/** Base **/
:is(x-input, .x-input) {
  display: flex;
  width: fit-content;
  border-radius: var(--x-3px);
  padding: var(--x-1px) var(--x-2px);
}

:is(x-input, .x-input),
:is(x-input, .x-input) > input {
  font-size: 1rem;
}

/** Input **/
:is(x-input, .x-input) > input {
  padding: 0;
  border: none;
  margin: 0;
}

/** Input[Type=Checkbox,Radio] **/
:is(x-input, .x-input) > :is(input[type="checkbox"], input[type="radio"]),
:is(x-input, .x-input):is(input[type="checkbox"], input[type="radio"]) {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/** Focus Visible **/
:is(x-input, .x-input):has(:focus-visible) {
  outline: var(--x-1px) solid;
}

:is(x-input, .x-input) > :focus-visible {
  outline: none;
}

/** Outlined/Default **/
:is(x-input, .x-input):not(.x-underlined),
:is(x-input, .x-input).x-outlined {
  border: var(--x-1px) solid;
}
