# "Build" workflow
#
name: Build Projects

on:

  # Runs on pull request open to listed branches
  pull_request:
    branches: [ "main", "dev" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:

  # Build job
  build:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: CI/CD

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0

      - name: Setup Node
        uses: actions/setup-node@v6.1.0
        with:
          node-version: "24"
          cache: pnpm

      - name: Install (Vercel) Turbo
        id: install-vercel-turbo
        run: pnpm i -g turbo

      - name: Install dependencies
        run: pnpm i

      - name: Run build
        run: turbo build build-storybook docs
