# Lint workflow
#
name: Lint Projects

on:

  # Temporarily runs on push
  push:
    branches: [ "52-ci-cd-update-eslint-version" ]

  # Runs on pull request open to listed branches
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:

  # Lint job
  lint:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: CI/CD

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - name: Detect package manager
        id: detect-package-manager
        run: |
          if [ -f "${{ github.workspace }}/yarn.lock" ]; then
            echo "manager=yarn" >> $GITHUB_OUTPUT
            echo "command=install" >> $GITHUB_OUTPUT
            echo "runner=yarn" >> $GITHUB_OUTPUT
            exit 0
          elif [ -f "${{ github.workspace }}/package-lock.json" ]; then
            echo "manager=npm" >> $GITHUB_OUTPUT
            echo "command=ci" >> $GITHUB_OUTPUT
            echo "runner=npx --no-install" >> $GITHUB_OUTPUT
            exit 0
          elif [ -f "${{ github.workspace }}/pnpm-lock.yaml" ]; then
            echo "manager=pnpm" >> $GITHUB_OUTPUT
            echo "command=i" >> $GITHUB_OUTPUT
            echo "runner=pnpm dlx --skip-install" >> $GITHUB_OUTPUT
            exit 0
          else
            echo "Unable to determine package manager"
            exit 1
          fi
      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
      - name: Setup Node
        uses: actions/setup-node@v6.1.0
        with:
          node-version: "24"
          cache: ${{ steps.detect-package-manager.outputs.manager }}
      - name: Install (Vercel) Turbo
        id: install-vercel-turbo
        run: ${{ steps.detect-package-manager.outputs.manager }} i -g turbo
      - name: Install dependencies
        run: ${{ steps.detect-package-manager.outputs.manager }} ${{ steps.detect-package-manager.outputs.command }}
      - name: Run Lint
        run: turbo lint
