:root {
  --x-primary-hsl-1: hsl(240, 75%, 16%);
  --x-primary-hsla-1: hsla(240, 80%, 16%, 0.840);
  --x-secondary-hsl-1: hsl(300, 75%, 16%);
  --x-secondary-hsla-1: hsla(300, 80%, 16%, 0.840);
  --x-success-hsl-1: hsl(120, 75%, 16%);
  --x-success-hsla-1: hsla(120, 80%, 16%, 0.840);
  --x-info-hsl-1: hsl(180, 75%, 16%);
  --x-info-hsla-1: hsla(180, 80%, 16%, 0.840);
  --x-warning-hsl-1: hsl(30, 75%, 16%);
  --x-warning-hsla-1: hsla(30, 80%, 16%, 0.840);
  --x-danger-hsl-1: hsl(0, 75%, 16%);
  --x-danger-hsla-1: hsla(0, 80%, 16%, 0.840);
  --x-neutral-hsl-1: hsl(0, 0%, 16%);
  --x-neutral-hsla-1: hsla(0, 0%, 16%, 0.840);
  --x-primary-hsl-2: hsl(240, 75%, 32%);
  --x-primary-hsla-2: hsla(240, 80%, 32%, 0.680);
  --x-secondary-hsl-2: hsl(300, 75%, 32%);
  --x-secondary-hsla-2: hsla(300, 80%, 32%, 0.680);
  --x-success-hsl-2: hsl(120, 75%, 32%);
  --x-success-hsla-2: hsla(120, 80%, 32%, 0.680);
  --x-info-hsl-2: hsl(180, 75%, 32%);
  --x-info-hsla-2: hsla(180, 80%, 32%, 0.680);
  --x-warning-hsl-2: hsl(30, 75%, 32%);
  --x-warning-hsla-2: hsla(30, 80%, 32%, 0.680);
  --x-danger-hsl-2: hsl(0, 75%, 32%);
  --x-danger-hsla-2: hsla(0, 80%, 32%, 0.680);
  --x-neutral-hsl-2: hsl(0, 0%, 32%);
  --x-neutral-hsla-2: hsla(0, 0%, 32%, 0.680);
  --x-primary-hsl-3: hsl(240, 75%, 48%);
  --x-primary-hsla-3: hsla(240, 80%, 48%, 0.520);
  --x-secondary-hsl-3: hsl(300, 75%, 48%);
  --x-secondary-hsla-3: hsla(300, 80%, 48%, 0.520);
  --x-success-hsl-3: hsl(120, 75%, 48%);
  --x-success-hsla-3: hsla(120, 80%, 48%, 0.520);
  --x-info-hsl-3: hsl(180, 75%, 48%);
  --x-info-hsla-3: hsla(180, 80%, 48%, 0.520);
  --x-warning-hsl-3: hsl(30, 75%, 48%);
  --x-warning-hsla-3: hsla(30, 80%, 48%, 0.520);
  --x-danger-hsl-3: hsl(0, 75%, 48%);
  --x-danger-hsla-3: hsla(0, 80%, 48%, 0.520);
  --x-neutral-hsl-3: hsl(0, 0%, 48%);
  --x-neutral-hsla-3: hsla(0, 0%, 48%, 0.520);
  --x-primary-hsl-4: hsl(240, 75%, 64%);
  --x-primary-hsla-4: hsla(240, 80%, 64%, 0.360);
  --x-secondary-hsl-4: hsl(300, 75%, 64%);
  --x-secondary-hsla-4: hsla(300, 80%, 64%, 0.360);
  --x-success-hsl-4: hsl(120, 75%, 64%);
  --x-success-hsla-4: hsla(120, 80%, 64%, 0.360);
  --x-info-hsl-4: hsl(180, 75%, 64%);
  --x-info-hsla-4: hsla(180, 80%, 64%, 0.360);
  --x-warning-hsl-4: hsl(30, 75%, 64%);
  --x-warning-hsla-4: hsla(30, 80%, 64%, 0.360);
  --x-danger-hsl-4: hsl(0, 75%, 64%);
  --x-danger-hsla-4: hsla(0, 80%, 64%, 0.360);
  --x-neutral-hsl-4: hsl(0, 0%, 64%);
  --x-neutral-hsla-4: hsla(0, 0%, 64%, 0.360);
  --x-primary-hsl-5: hsl(240, 75%, 80%);
  --x-primary-hsla-5: hsla(240, 80%, 80%, 0.200);
  --x-secondary-hsl-5: hsl(300, 75%, 80%);
  --x-secondary-hsla-5: hsla(300, 80%, 80%, 0.200);
  --x-success-hsl-5: hsl(120, 75%, 80%);
  --x-success-hsla-5: hsla(120, 80%, 80%, 0.200);
  --x-info-hsl-5: hsl(180, 75%, 80%);
  --x-info-hsla-5: hsla(180, 80%, 80%, 0.200);
  --x-warning-hsl-5: hsl(30, 75%, 80%);
  --x-warning-hsla-5: hsla(30, 80%, 80%, 0.200);
  --x-danger-hsl-5: hsl(0, 75%, 80%);
  --x-danger-hsla-5: hsla(0, 80%, 80%, 0.200);
  --x-neutral-hsl-5: hsl(0, 0%, 80%);
  --x-neutral-hsla-5: hsla(0, 0%, 80%, 0.200);
  --x-primary-hsl-6: hsl(240, 75%, 96%);
  --x-primary-hsla-6: hsla(240, 80%, 96%, 0.040);
  --x-secondary-hsl-6: hsl(300, 75%, 96%);
  --x-secondary-hsla-6: hsla(300, 80%, 96%, 0.040);
  --x-success-hsl-6: hsl(120, 75%, 96%);
  --x-success-hsla-6: hsla(120, 80%, 96%, 0.040);
  --x-info-hsl-6: hsl(180, 75%, 96%);
  --x-info-hsla-6: hsla(180, 80%, 96%, 0.040);
  --x-warning-hsl-6: hsl(30, 75%, 96%);
  --x-warning-hsla-6: hsla(30, 80%, 96%, 0.040);
  --x-danger-hsl-6: hsl(0, 75%, 96%);
  --x-danger-hsla-6: hsla(0, 80%, 96%, 0.040);
  --x-neutral-hsl-6: hsl(0, 0%, 96%);
  --x-neutral-hsla-6: hsla(0, 0%, 96%, 0.040)
}
